<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>

	<head>
		<title>La Dimension Fantastique - Détail retour fournisseur</title>
		
		<link th:replace="util/import :: head">
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div class="container" ng-cloak ng-controller="RmaDetailsCtrl as rmaDetailsCtrl">
			<div class="text-center">
				<div  class="row">
					<h1 class="col-sm-2">
						<button ng-if="rmaDetailsCtrl.previousRma != null" ng-click="rmaDetailsCtrl.changeRma(rmaDetailsCtrl.previousRma)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
					</h1>
					<h1 class="col-sm-8"k>Retour fournisseur {{rmaDetailsCtrl.rma.id}}</h1>
					<h1 class="col-sm-2">
						<button ng-if="rmaDetailsCtrl.nextRma != null" ng-click="rmaDetailsCtrl.changeRma(rmaDetailsCtrl.nextRma)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
					</h1>
				</div>
				
				<div class="table-responsive">
					<table class="invoices table table-condensed panel panel-default">
						<thead>
							<tr>
								<th>#</th>
								<th>Fournisseur</th>
								<th>Création</th>
								<th>Expédition</th>
								<th>Status</th>
								<th>Produits</th>
								<th>Quantité</th>			
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td>{{rmaDetailsCtrl.rma.id}}</td>
								<td><a href="#" ng-click="rmaDetailsCtrl.openSupplierCard($event, rmaDetailsCtrl.rma.supplier)">{{rmaDetailsCtrl.rma.supplier.name}}</a></td>
								<td>{{rmaDetailsCtrl.rma.openDate | date : "short"}}</td>
								<td>{{rmaDetailsCtrl.rma.shippedDate | date : "short"}}</td>
								<td>
									<span ng-if="rmaDetailsCtrl.rma.status == 'OPEN'" class="label label-info">Ouvert</span>
									<span ng-if="rmaDetailsCtrl.rma.status == 'CANCELED'" class="label label-danger">Annulé</span>
									<span ng-if="rmaDetailsCtrl.rma.status == 'SHIPPED'" class="label label-danger">Expédié</span>
								</td>
								<td>{{rmaDetailsCtrl.rma.details.length}}</td>
								<td>{{rmaDetailsCtrl.calculateRmaQuantity(rma)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="table-responsive">
					<table class="panel panel-default table table-striped table-condensed">
						<thead class="panel-heading">
							<tr>
								<th>Ean13</th>
								<th>Produit</th>
								<th>Quantité</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detail in rmaDetailsCtrl.rma.details">
								<td>{{detail.product.ean13}}</td>
								<td><a href="#" ng-click="rmaDetailsCtrl.openProductCard($event, detail.product)">{{detail.product.standardLabel}}</a></td>
								
								<td ng-if="rmaDetailsCtrl.rma.status == 'OPEN'">
									<input 
										id="detail-{{detail.id}}"
										ng-focus="rmaDetailsCtrl.focus($event)"
										ng-change="rmaDetailsCtrl.rmaChanged($event)"
										ng-model="detail.quantity"
										class="quantity form-control" 
										type="number"
										min="0" 
										max="99999" 
									/>
								</td>	
								
								<td ng-if="rmaDetailsCtrl.rma.status != 'OPEN'">{{detail.quantity}}</td>								
							</tr>
							<tr ng-if="rmaDetailsCtrl.rma.details.length == 0">
								<td colspan="7">Aucun produit saisi pour le retour fournisseur</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7">
									<div class="col-sm-3">
										<input 
											id="product-ean13"
											placeholder="Ean13" 
											type="text" 
											class="form-control" 
											ng-focus="rmaDetailsCtrl.focus($event)"
											ng-keyup="rmaDetailsCtrl.addProduct($event)" 
											ng-model="rmaDetailsCtrl.detail.product.ean13"
										/>
									</div>
									<div class="col-sm-9 alerts">
										<img class="loading hidden" th:src="@{/img/loading.gif}">
										<div ng-if="rmaDetailsCtrl.error.productNotFound" class="product-not-found alert alert-warning" role="alert">
											<button type="button" class="close" ng-click="rmaDetailsCtrl.error.productNotFound = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											Produit non associé au fournisseur
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				
				<div>
					<button ng-if="rmaDetailsCtrl.rma.status == 'OPEN'" ng-click="rmaDetailsCtrl.cancel()" type="button" class="btn btn-danger">Annuler</button>
					
					<button ng-if="rmaDetailsCtrl.rma.status == 'OPEN'" ng-click="rmaDetailsCtrl.validate()" type="button" class="btn btn-primary">Valider</button>
				
					<button ng-click="rmaDetailsCtrl.print()" type="button" class="btn btn-primary">Imprimer</button>
				</div>
			</div>
		
			<div th:replace="product/product-card :: product-card"></div>
		
			<div th:replace="product/supplier-card :: supplier-card"></div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		
		<script type="text/javascript" th:src="@{/js/purchase/rma-details.js}"></script>
	</body>
</html>