<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html 
	ng-app="kos" 
	ng-controller="KosCtrl as kosCtrl"
>
	<head>		
		<link th:replace="util/import :: head" />
		<link rel="stylesheet" type="text/css" th:href="@{/libs/font-awesome-4.5.0/font-awesome.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/order/checkout.css}" />
	</head>
	
	<body ng-app="kos" ng-controller="CheckoutCtrl as checkoutCtrl" >
		<div th:replace="util/header :: header"></div>
		
		<div class="main container">
			<div th:replace="util/menu :: menu"></div>
			
			<div class="content row" ng-cloak="">
				<div class="shipping-method">
					<div class="col-sm-9" ng-if="checkoutCtrl.workflowStep == 'shipping'" >
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-body">
										<h3>Options de livraison</h3>
										<div>
											<input 
												type="radio" 
												value="COLISSIMO"
												name="shippingMethod" 
												id="shipping-method-COLISSIMO" 
												ng-change="checkoutCtrl.saveCustomerOrder()"
												ng-model="checkoutCtrl.customerOrder.shippingMethod"
											/>
											<label for="shipping-method-COLISSIMO">Colissimo</label>
										</div>
										<div>
											<input 
												type="radio" 
												value="TAKEOUT"
												name="shippingMethod" 
												id="shipping-method-TAKEOUT" 
												ng-change="checkoutCtrl.saveCustomerOrder()"
												ng-model="checkoutCtrl.customerOrder.shippingMethod"
											/>
											<label for="shipping-method-TAKEOUT">Retrait en magasin</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="row">
											<div ng-if="checkoutCtrl.customerOrder.shippingMethod == 'COLISSIMO'" class="col-sm-6">
												<h3>Adresse d'expédition</h3>
												<div ng-switch="checkoutCtrl.customerOrder.shippingAddress == undefined">
													<a	href="#" 
														ng-switch-when="true"
														ng-click="checkoutCtrl.editAddress({type : 'SHIPPING'})"
													>Ajouter</a>													
													<a	href="#" 
														ng-switch-when="false"
														ng-click="checkoutCtrl.editAddress(checkoutCtrl.customerOrder.shippingAddress)"
													>Modifier</a>
												</div>
												
												<div ng-if="checkoutCtrl.customerOrder.shippingAddress != undefined">
													<div>
														{{checkoutCtrl.customerOrder.shippingAddress.lastName}}
														{{checkoutCtrl.customerOrder.shippingAddress.firstName}}
													</div>
													<div>{{checkoutCtrl.customerOrder.shippingAddress.address1}}</div>
													<div>{{checkoutCtrl.customerOrder.shippingAddress.address2}}</div>
													<div>
														{{checkoutCtrl.customerOrder.shippingAddress.city}},
														{{checkoutCtrl.customerOrder.shippingAddress.postalCode}}</div>
													<div>
														{{checkoutCtrl.customerOrder.shippingAddress.country}}
													</div>
													<div>
														Téléphone
														{{checkoutCtrl.customerOrder.shippingAddress.phone}}
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<h3>Adresse de facturation</h3>
												<div>
													<div
														ng-switch="checkoutCtrl.customerOrder.billingAddress == undefined"
														ng-if="!checkoutCtrl.customerOrder.account.shippingAddressPreferedForBilling"
													> 
														<a	href="#" 
															ng-switch-when="true"
															ng-click="checkoutCtrl.editAddress({type : 'BILLING'})"
														>Ajouter</a>													
														<a	href="#" 
															ng-switch-when="false"
															ng-click="checkoutCtrl.editAddress(checkoutCtrl.customerOrder.billingAddress)"
														>Modifier</a>
													</div>
													&nbsp;
												</div>
												
												<div ng-if="checkoutCtrl.customerOrder.billingAddress != undefined">
													<div>
														{{checkoutCtrl.customerOrder.billingAddress.lastName}}
														{{checkoutCtrl.customerOrder.billingAddress.firstName}}
													</div>
													<div>{{checkoutCtrl.customerOrder.billingAddress.address1}}</div>
													<div>{{checkoutCtrl.customerOrder.billingAddress.address2}}</div>
													<div>
														{{checkoutCtrl.customerOrder.billingAddress.city}},
														{{checkoutCtrl.customerOrder.billingAddress.postalCode}}</div>
													<div>
														{{checkoutCtrl.customerOrder.billingAddress.country}}
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="checkbox checkbox-primary">
													<input 
														type="checkbox" 
														id="shipping-address-as-billing"
														ng-model="checkoutCtrl.customerOrder.account.shippingAddressPreferedForBilling"
														ng-change="checkoutCtrl.updateShippingAddressPreferedForBilling()"
													/>
													<label 
														for="shipping-address-as-billing"
													>Utiliser mon addresse de livraison pour la facturation</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-sm-9 payment" ng-if="checkoutCtrl.workflowStep == 'payment'" >
						<div class="panel panel-default">
							<form class="panel-body" id="checkout" method="post" action="/checkout">
								<div id="payment-form"></div>
								<input class="btn btn-primary" type="submit" value="Valider le paiement" />
							</form>
						</div>
					</div>
					
					<div class="col-sm-3 checkout text-center">
						<div class="panel panel-default">
							<div class="panel-body">
								<div>Sous total : {{checkoutCtrl.customerOrder.subTotal| number : 2}} &euro;</div>
								
								<div>Livraison : {{checkoutCtrl.customerOrder.shippingCost | number : 2}} &euro;</div>
								
								<div>Montant total : {{checkoutCtrl.customerOrder.totalAmount | number : 2}} &euro;</div>
								
								<div ng-if="checkoutCtrl.workflowStep == 'shipping'">
									<button 
										class="btn btn-primary" 
										ng-click="checkoutCtrl.confirmShippingMethod()"
										ng-disabled="!checkoutCtrl.confirmCheckoutActivated || undefined"
									>Acheter</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Edit Address Modal -->
				<script th:replace="account/edit-address-modal :: edit-address-modal"></script>
			</div>
			
			<script th:replace="util/footer :: footer"></script>
		</div>
		<script th:replace="util/import :: scripts"></script>
		<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
		<script type="text/javascript" th:src="@{/js/account/address-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/account/edit-address-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/order/braintree-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/order/checkout-controller.js}"></script>
	</body>
</html>