<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html 
	ng-app="kos" 
	ng-controller="KosCtrl as kosCtrl"
>
	<head>		
		<link th:replace="util/import :: head" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/order/customer-order.css}" />
	</head>
	
	<body ng-app="kos">
		<div th:replace="util/header :: header"></div>
		
		<div class="main container">
			<div th:include="util/menu :: menu"></div>
			
			<div ng-controller="CustomerOrderCtrl as customerOrderCtrl" class="content ng-cloak" ng-cloak="">
				<div class="row">
					<div class="col-sm-9">
						<div 
							class="product row"
							ng-click="customerOrderCtrl.openProductPage(detail.product)" 
							ng-repeat="detail in customerOrderCtrl.customerOrder.customerOrderDetails" 
						>
							<div class="col-sm-3 text-center">
								<img src="http://images.amazon.com/images/P/{{detail.product.isbn}}.01._SCMZZZZZZZ_.jpg" />
		<!-- 							<img ng-if="product.images.length == 0" th:src="@{/img/logos/dimension-fantastique-noir.png}" /> -->
							</div>
							<div class="col-sm-5">
								<div><h4><a th:href="@{/product/{{detail.product.id}}}">{{detail.product.title}}</a></h4></div>
								<div><h5>De {{detail.product.author}}</h5></div>
								<div>
									Parue le {{detail.product.datePublished | date : "shortDate"}}
									chez {{detail.product.manufacturer}}
								</div>
								<div>{{detail.product.category.name}}</div>
							</div>
							<div class="col-sm-2">
								{{detail.unitPrice | number : 2}} &euro;
							</div>
							<div class="col-sm-2">
								<div>
									<input 
										type="number" 
										class="form-control" 
										ng-model="detail.quantity"
										ng-change="customerOrderCtrl.saveCustomerOrder()"
									 />
								</div>
								<div>
									<a href="#" target="" ng-click="customerOrderCtrl.deleteDetail($event, detail)">Supprimer</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 checkout text-center">
						<div>
							Sous-total 
							({{customerOrderCtrl.customerOrder.totalQuantity}} articles):
						</div>
						<div>
							{{customerOrderCtrl.customerOrder.subTotal | number : 2}} &euro;
						</div>
						
						<button 
							disabled="disabled" 
							class="btn btn-primary"
							ng-if="customerOrderCtrl.loading" 
						>Passer la commande</button>
						
						<a	target="_self"
							th:href="@{/checkout}"
							ng-if="!customerOrderCtrl.loading"							
						>
							<button 
								class="btn btn-primary" 
								ng-click="customerOrderCtrl.checkout()"
							>Passer la commande</button>
						</a>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						Sous-total 
						({{customerOrderCtrl.customerOrder.totalQuantity}} articles):
						{{customerOrderCtrl.customerOrder.subTotal | number : 2}} &euro;
					</div>
				</div>
			</div>
			
			<script th:replace="util/footer :: footer"></script>
		</div>
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/order/customer-order-controller.js}"></script>
	</body>
</html>