<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html 
	ng-app="kos" 
	ng-controller="KosCtrl as kosCtrl"
>
	<head>		
		<link th:replace="util/import :: head" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/order/customer-order.css}" />
	</head>
	
	<body ng-app="kos">
		<div th:replace="util/header :: header"></div>
		
		<div class="main container">
			<div th:include="util/menu :: menu"></div>
			
			<div ng-controller="CustomerOrderConfirmationCtrl as customerOrderConfirmationCtrl" class="content ng-cloak" ng-cloak="">
				Commande confirmée esti !
			</div>
			
			<script th:replace="util/footer :: footer"></script>
		</div>
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/order/customer-order-confirmation-controller.js}"></script>
	</body>
</html>