.footer-separator{	
	height: 5px;
/* 	background-color: black; */
}

.social {
	background-color: white;
	padding-bottom: 20px;
	padding-top: 20px;
}

.site-plan h4 {
	font-size: 16px;
	text-transform: uppercase;
}

.site-plan ul {
	padding-left: 0px;
}

.site-plan a, .site-plan a:hover {
	color: #929292;
}