**.DS_Store
**.classpath
**.project
**.settings
**/target

kubik/kubik-server/test.lck
kubik/kubik-server/test.log
kubik/kubik-server/test.properties
kubik/kubik-server/test.script

kubik/kubik-server/data
kubik/kubik-server/dilicom
kubik/kubik-server/*.edi
kubik/kubik-server/docker-resources/target
kubik/kubik-server/docker-resources/target/docker/kubik.jar
