<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>

	<head>
		<title>La Dimension Fantastique - Détail facture</title>
		
		<link th:replace="util/import :: head">
		<link rel="stylesheet" type="text/css" th:href="@{/css/sales/invoice-details.css}" />
	</head>
	
	<body >
		<div th:include="util/menu :: menu"></div>
		
		<div class="container text-center" ng-app="KubikInvoiceDetails" ng-controller="KubikInvoiceDetailsController as view">
			<h1>Facture {{invoice.number}}</h1>
			
			<table class="invoices table table-condensed panel panel-default">
				<thead>
					<tr>
						<th>Numéro</th>
						<th>Date</th>
						<th>Client</th>
						<th>Produits</th>
						<th>Montant</th>
						<th>Paiements</th>
						<th>Statut</th>				
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>{{invoice.number}}</td>
						<td>{{invoice.paidDate | date : "short"}}</td>
						<td ng-if="invoice.customer != null">
							<a href="#" ng-click="kubikCustomerCard.openCard(invoice.customer)">
								<span ng-if="invoice.customer.company == null">{{invoice.customer.firstName}} {{invoice.customer.lastName}}</span>
								<span ng-if="invoice.customer.company != null">{{invoice.customer.company}}</span>
							</a>
						</td>
						<td ng-if="invoice.customer == null">
							Anonyme
						</td>
						<td>{{invoice.details.length}}</td>
						<td>{{invoice.totalAmount | currency : '&euro;'}}</td>
						<td>
							<span ng-repeat="payment in invoice.payments" ng-if="payment.paymentMethod.type == 'CARD'" title="Carte - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-credit-card">&nbsp;</span>
							<span ng-repeat="payment in invoice.payments" ng-if="payment.paymentMethod.type == 'CASH'" title="Espèces - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-euro">&nbsp;</span>
							<span ng-repeat="payment in invoice.payments" ng-if="payment.paymentMethod.type == 'CHECK'" title="Espèces - {{payment.amount  | currency : '&euro;'}}"  class="glyphicon glyphicon-edit">&nbsp;</span>
						</td>
						<td>{{invoice.status.description}}</td>
					</tr>
				</tbody>
			</table>
			
			<table class="panel panel-default table table-striped table-condensed">
				<thead class="panel-heading">
					<tr>
						<th>Produit</th>
						<th>Prix TTC</th>
						<th>Taxe</th>
						<th>Quantité</th>
						<th>Montant</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="detail in invoice.details">
						<td><a href="#" ng-click="kubikProductCard.openCard(detail.product)">{{detail.product.ean13}} - {{detail.product.standardLabel}}</a></td>
						<td>{{detail.unitPrice | currency : '&euro;'}}
						<td>
							<div ng-repeat="taxAmount in invoice.taxesAmounts">{{taxAmount.taxRate}}</div>
						</td>
						<td>{{detail.quantity}}</td>						
						<td>{{(detail.quantity * detail.unitPrice) | currency : '&euro;'}}</td>
					</tr>
				</tbody>
			</table>
			
			<button ng-click="printReceipt()" type="button" class="btn btn-primary">Imprimer le reçu</button>
			
			<button ng-click="openReceipt()" type="button" class="btn btn-primary">Afficher le reçu</button>
			
			<button ng-click="confirmRefund()" type="button" class="btn btn-danger">Rembourser</button>
			
			<div class="refund-modal modal fade">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Remboursement</h4>
						</div>
						
						<div class="modal-body text-center">
							<div class="form-group"> 
								<label>Paiements enregistrés</label>
								<p ng-if="invoice.payments.length == 0" class="form-control-static">Aucun</p>
								<p ng-if="invoice.payments.length != 0" ng-repeat="payment in invoice.payments" class="form-control-static">
									{{payment.paymentMethod.description}} : {{payment.amount | currency : '&euro;'}}	
								</p>
							</div>
							<div class="form-group"> 
								<label>Montant à rembourser</label>
								
								<p class="form-control-static">{{invoice.totalAmount | currency : '&euro;'}}</p>
							</div>
							
							<button ng-click="refund()" type="button" class="btn btn-danger form-control" data-dismiss="modal">Rembourser</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="product-card"></div>
		
		<div class="customer-card"></div>
		
		<script th:replace="util/import :: scripts"></script>
		
		<script type="text/javascript" th:src="@{/js/sales/invoice-details.js}"></script>
	</body>
</html>