<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"

>

	<head>
		<title>La Dimension Fantastique - Factures</title>
		
		<link th:replace="util/import :: head">
		<link rel="stylesheet" type="text/css" th:href="@{/css/sales/invoices.css}" />
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div ng-app="KubikInvoicesPage" ng-cloak ng-controller="InvoicesCtrl as invoicesCtrl"  class="container text-center">
			<h1>Factures</h1>
			
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="input-group">
						<input 
							type="text"
							class="search-invoice form-control" 
							ng-model="invoicesCtrl.invoice.number" 
							placeholder="Entrer un numéro de facture" 
							ng-keyup="invoicesCtrl.searchInvoiceKeyPressed($event)"
						/>
	     				<span class="input-group-btn">
							<button class="btn btn-default" ng-click="invoicesCtrl.searchInvoice()">Ouvrir</button>
						</span>
					</div>
				</div>
			</div>
		
			<div class="search-error alert alert-warning alert-dismissible" role="alert" ng-if="error != null">
				<button type="button" class="close" ng-click="invoicesCtrl.hideErrors()"><span aria-hidden="true">&times;</span></button>
				{{invoicesCtrl.error}}
			</div>
	
			<ul class="pager row text-center">
				<li class="col-md-2">
					&nbsp;
					<a href="#" ng-if="!invoicesCtrl.invoicePage.first" ng-click="invoicesCtrl.changePage(invoicesCtrl.invoicePage.number-1)">Précédente</a>
				</li>
				
				<li class="col-md-8">Page {{invoicesCtrl.invoicePage.number+1}} sur {{invoicesCtrl.invoicePage.totalPages}}</li>
				
				<li class="col-md-2">
					&nbsp;
					<a href="#" ng-if="!invoicesCtrl.invoicePage.last" ng-click="invoicesCtrl.changePage(invoicesCtrl.invoicePage.number+1)">Suivante</a>
				</li>
			</ul>
					
			<div class="table-responsive">	
				<table class="invoices table table-condensed table-striped table-hover panel panel-default">
					<thead>
						<tr>
							<th>Numéro</th>
							<th>Date</th>
							<th>Client</th>
							<th>Produits</th>
							<th>Montant</th>
							<th>Paiements</th>
							<th>Statut</th>	
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="invoice in invoicesCtrl.invoicePage.content" ng-click="invoicesCtrl.openInvoice(invoice)">
							<td>{{invoice.number}}</td>
							<td>{{invoice.paidDate | date : "short"}}</td>
							<td ng-if="invoice.customer != null">
								<a href="#" ng-click="invoicesCtrl.openCustomerCard($event, invoice.customer)">
									<span ng-if="invoice.customer.company == null">{{invoice.customer.firstName}} {{invoice.customer.lastName}}</span>
									<span ng-if="invoice.customer.company != null">{{invoice.customer.company}}</span>
								</a>
							</td>
							<td ng-if="invoice.customer == null">
								Anonyme
							</td>
							<td>{{invoice.details.length}}</td>
							<td>{{invoice.totalAmount | currency : '&euro;'}}</td>
							<td>
								<span ng-repeat="payment in invoice.payments">
									<span ng-switch="payment.paymentMethod.type">
										<span ng-switch-when="CARD" title="Carte - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-credit-card">&nbsp;</span>
										<span ng-switch-when="CASH" title="Espèces - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-euro">&nbsp;</span>
										<span ng-switch-when="CHECK" title="Chèque - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-edit">&nbsp;</span>
										<span ng-switch-when="CREDIT" title="Avoir - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-piggy-bank">&nbsp;</span>
										<span ng-switch-when="KADEOS" title="Chèque Kadéos - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-edit">&nbsp;</span>
										<span ng-switch-when="LIRE" title="Chèque Lire - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-edit">&nbsp;</span>
									</span>
								</span>
							</td>
							<td>{{invoice.status.description}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div th:replace="sales/customer/customer-card :: customer-card"></div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/sales/invoices-page.js}"></script>
	</body>
</html>