<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html 
	ng-app="kos" 
	ng-controller="KosCtrl as kosCtrl"
>
	<head>
		<link th:replace="util/import :: head" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/create-account.css}" />
	</head>
	
	<body>
		<div th:replace="util/header :: header"></div>
		
		<div ng-controller="CreateAccountCtrl as createAccountCtrl" class="container">
			
			<div class="create-account row">
				<div class="col-sm-offset-4 col-sm-4">
					<form th:action="@{/authenticate}" method="POST">
						<div class="form-group">
		   					<label>Courriel</label>
		   					<input 
		   						type="email" 
	   							name="username"
		   						class="form-control" 
		   						placeholder="Courriel" 
	   						 />
	 					</div> 
	 					<div class="form-group">
		   					<label>Mot de passe</label>
		   					<input 
		   						type="password"
	   							name="password" 
		   						class="form-control" 
		   						placeholder="Mot de passe"  
		   					/>
	 					</div>
		 					
		 				<button 
		 					type="submit"
		 					class="btn btn-default form-control" 
	 					>Connexion</button>
 					</form> 
				</div>
			</div>
			
			<script th:replace="util/footer :: footer"></script>
		</div>
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/account/create-account-controller.js}"></script>
	</body>
</html>