<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="footer">
		<div class="footer">
			<div class="content content-bottom">
				<div class="footer-separator"></div>
			
				<div class="social row text-center">
					<div class="col-sm-2">
<!-- 						<img th:src="@{/img/icons/sheet.png}" /> -->
<!-- 						<span>Newsletter</span> -->
					</div>
					<div class="col-sm-3">
<!-- 						<input type="text" class="form-control" placeholder="Courriel" /> -->
					</div>
					<div class="col-sm-1">
<!-- 						<button class="btn btn-default">S'abonner</button> -->
					</div>
					<div class="col-sm-6 text-right">
						<a class="contact-us" ng-controller="ContactCtrl as contactCtrl" href="#" ng-click="contactCtrl.contactUs()">Nous contacter</a>
						&nbsp;
						<a href="http://www.babelio.com/monprofil.php?id_user=231403" target="_BLANK"><img th:src="@{/img/social/babelio.png}" /></a>
						<a href="http://www.senscritique.com/Librairie_LDF" target="_BLANK"><img th:src="@{/img/social/sens-critique.png}" /></a>
						<a href="https://instagram.com/ladimensionfantastique/" target="_BLANK"><img th:src="@{/img/social/instagram.png}" /></a>
						<a href="https://fr.pinterest.com/LDFantastique/" target="_BLANK"><img th:src="@{/img/social/pinterest.png}" /></a>
						<a href="https://www.facebook.com/dimensionfantastique" target="_BLANK"><img th:src="@{/img/social/facebook.png}" /></a>
						<a href="https://twitter.com/LibrairieLDF" target="_BLANK"><img th:src="@{/img/social/twitter.png}" /></a>
					</div>
				</div>
			</div>
			<div class="site-plan row">
<!-- 				<div class="col-sm-2"> -->
<!-- 					<h4>Boutique en ligne</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="/">Où est ma commande</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-sm-2"> -->
<!-- 					<h4>A propos</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="/">Services</a></li> -->
<!-- 						<li><a href="/">Entreprise</a></li> -->
<!-- 						<li><a href="/">Contact</a></li> -->
<!-- 						<li><a href="/">Média</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-sm-2"> -->
<!-- 					<h4>Point de ventes</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="/">Point de ventes</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-sm-2"> -->
<!-- 					<h4>Librairie interactive</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="/">Catalogues</a></li> -->
<!-- 						<li><a href="/">Newsletter</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-sm-2"> -->
<!-- 					<h4>Paternaires</h4> -->
<!-- 				</div> -->
<!-- 				<div class="col-sm-2"> -->
<!-- 					<h4>Copyright &copy;</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="/">Mentions légales</a></li> -->
<!-- 						<li><a href="/">Notices</a></li> -->
<!-- 						<li><a href="/">Plan du site</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
				<div class="text-center">
					© LA DIMENSION FANTASTIQUE 2015
				</div>
			</div>
		</div>
	</div>
</body>

</html>
