<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="header">
			<header class="container">
				<div class="col-md-4 text-center">
					<a href="/" target="_self"><img th:src="@{/img/logos/dimension-fantastique-noir-small.png}" /></a>
				</div>
				
				<div th:if="${@customerOrderServiceImpl.isActivated()}" class="header-nav col-md-8 ng-cloak" ng-cloak="">
					<div class="row text-center">
						<div class="col-md-6">&nbsp;</div>
						<div class="col-md-3" ng-controller="SignInCtrl as signInCtrl">								
							<div class="my-account text-center" ng-if="!signInCtrl.loading">
								<div>&nbsp;</div>
								<div ng-if="signInCtrl.account != null" >
									<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="glyphicon glyphicon-user"></span>
										Mon Compte
									</button>
									<ul class="dropdown-menu">
									    <li><a th:href="@{/commande-client}">Mes commandes</a></li>
									    <li><a th:href="@{/logout}" target="_self">Déconexion</a></li>
									</ul>
								</div>
								
								<div ng-if="signInCtrl.account == null" >
									<a th:href="@{/compte/creer-un-compte}" target="_self">Créer un compte</a>
									
									<a th:href="@{/compte/connexion}" target="_self">
										<button class="btn btn-default dropdown-toggle">
											<span class="glyphicon glyphicon-user"></span>
											Se connecter
										</button>
									</a>
								</div>
							</div>
						</div>
						<div 
							ng-cloak="" 
							class="col-md-3 ng-cloak" 
							ng-if="!cartSummaryCtrl.loading"
							ng-controller="CartSummaryCtrl as cartSummaryCtrl" 
						>
							<div>&nbsp;</div>
							<a th:href="@{/panier}" target="_self">
								<button class="btn btn-default">
									<span class="glyphicon glyphicon-shopping-cart"></span>
									<span>Panier</span>
									<span>{{cartSummaryCtrt.customerOrder.subTotal | currency : '&euro;' }}</span>
									<span class="badge">{{cartSummaryCtrt.customerOrder.totalQuantity}}</span>
								</button>
							</a>
						</div>
					</div>
				</div>
			</header>
		</div>
	</body>
</html>
