<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="head" th:remove="tag">
		<title>La Dimension Fantastique - {{kosCtrl.title}}</title>
		
		<meta charset="utf-8" /> 
		<base href="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	
	<body th:fragment="scripts" th:remove="tag">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/libs/select2-4.0.1-rc.1/css/select2.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/kubik-online.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
		
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
		
		<script type="text/javascript" th:src="@{/libs/select2-4.0.1-rc.1/js/select2.full.min.js}"></script>
		<script type="text/javascript" th:src="@{/libs/url-parser/jquery-url-parser.js}"></script>
		
		<script type="text/javascript" th:src="@{/js/kos-module.js}"></script>
		<script type="text/javascript" th:src="@{/js/kos-config.js}"></script>
		<script type="text/javascript" th:src="@{/js/kos-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/contact-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/contact-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/account/account-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/product/category-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/product/product-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/header/sign-in-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/header/header-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/order/customer-order-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/order/customer-order-summary-controller.js}"></script>
		
		<script type="text/javascript" th:src="@{/js/menu/menu-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/menu/menu-search-controller.js}"></script>
<!-- 		<script type="text/javascript" th:src="@{/js/ga.js}"></script> -->
	</body>
</html>