<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="menu" class="content content-top" ng-controller="MenuCtrl as menuCtrl">
			<!-- Desktop menu -->
			<div ng-cloak="" class="menu hidden-xs">
				<nav class="tabs row">
					<div class="navigation text-center">
						<a 
							href="/"
							target="_self"
							class="tab tab-first col-sm-3" 
							ng-class="{true : 'active'}[menuCtrl.activeTab == 'the-library']"
						>La Librairie</a>
					
						<a 
							target="_self"
							class="tab root-category col-sm-2"
							href="/produit?categories={{rootCategory.name}}"
							ng-class="{true : 'active'}[menuCtrl.activeTab == rootCategory.name || menuCtrl.hoveredTab == rootCategory.name]"
							ng-repeat="rootCategory in menuCtrl.categories | orderBy: 'id'"
							ng-mouseover="menuCtrl.mouseEntersCategoryMenu($event, rootCategory)"
							ng-mouseleave="menuCtrl.mouseLeavesCategoryMenu($event)" 
						>{{rootCategory.name}}</a>
						
						<a 
							target="_self"
							class="tab tab-last col-sm-3" 
							href="https://www.facebook.com/dimensionfantastique/events" 
						>Evènements</a>
					</div>
				</nav>
				
				<div class="sub-menu row">
					<div class="col-sm-10 sub-menu-cell">
						<div 
							class="row"
							ng-mouseleave="menuCtrl.mouseLeavesCategorySubmenu()" 
							ng-mouseover="menuCtrl.mouseEntersCategorySubmenu()"
						>
							<a 
								target="_self"
								class="category"
								href="/produit?categories={{subCategory.name}}" 
								ng-repeat="subCategory in menuCtrl.category.childCategories" 
							>
								<span class="category">{{subCategory.name}}</span>
							</a>
							
						</div>
					</div>
					
					<div class="col-sm-2 sub-menu-cell text-center">
						<a href="http://www.lalibrairiefantastique.com" target='_blank'>BLOG &gt;&gt;</a>
					</div>
				</div>
			</div>
			
			<!-- Mobile Menu -->
		<nav class="navbar navbar-inverse navbar-fixed-top visible-xs">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/" target="_self">La Dimension Fantastique</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li ng-class="{true : 'active'}[menuCtrl.activeTab == 'the-library']">
							<a href="/" target="_self">La Librairie</a>
						</li>
						<li 
							ng-repeat="rootCategory in menuCtrl.categories | orderBy: 'id'"
							ng-class="{true : 'active'}[menuCtrl.activeTab == rootCategory.name || menuCtrl.hoveredTab == rootCategory.name]"
						>
							<a href="/produit?categories={{rootCategory.name}}" target="_self">{{rootCategory.name}}</a>
						</li>
						<li><a href="https://www.facebook.com/dimensionfantastique/events" target="_self">Evènements</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>

		<div class="search-bar row text-center" ng-controller="MenuSearchCtrl as menuSearchCtrl">
				<div class="col-sm-3 you-search">Vous cherchez ?</div>
				<div class="col-sm-4">
					<div class="input-group">
						<input ng-keyup="menuSearchCtrl.searchKeyUp($event)" ng-model="menuSearchCtrl.searchParams.query" class="form-control" type="text" />
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="menuSearchCtrl.search()" type="button"><span class="glyphicon glyphicon-search"></span></button>
<!-- 							<button ng-click="menuSearchCtrl.search()" class="btn btn-default glyphicon glyphicon-search"></button> -->
						</span>
					</div>
				</div>				
				<div class="col-sm-5 text-right">
					<a class="contact-us" ng-controller="ContactCtrl as contactCtrl" href="#" ng-click="contactCtrl.contactUs()">Nous contacter</a>
					&nbsp;
					<a href="http://www.babelio.com/monprofil.php?id_user=231403" target="_BLANK"><img th:src="@{/img/social/babelio.png}" /></a>
					<a href="http://www.senscritique.com/Librairie_LDF" target="_BLANK"><img th:src="@{/img/social/sens-critique.png}" /></a>
					<a href="https://instagram.com/ladimensionfantastique/" target="_BLANK"><img th:src="@{/img/social/instagram.png}" /></a>
					<a href="https://fr.pinterest.com/LDFantastique/" target="_BLANK"><img th:src="@{/img/social/pinterest.png}" /></a>
					<a href="https://www.facebook.com/dimensionfantastique" target="_BLANK"><img th:src="@{/img/social/facebook.png}" /></a>
					<a href="https://twitter.com/LibrairieLDF" target="_BLANK"><img th:src="@{/img/social/twitter.png}" /></a>
				</div>
			</div>
		</div>
	</body>
</html>
