<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>La Dimension Fantastique - Catégorie de produits</title>
		
		<link th:replace="util/import :: head">
		<link rel="stylesheet" type="text/css" th:href="@{/css/product/non-categorized-product.css}" />
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div ng-controller="NonValidatedProductImagesCtrl as nonValidatedProductImagesCtrl" ng-cloak="" class="container">
			<div class="row text-center">
				<h1>Images produit non validées</h1>
			</div>

			<script th:replace="product/product-images :: product-images"></script>
			
			<div class="pass row text-center">
				<button class="btn btn-default" ng-click="nonValidatedProductImagesCtrl.pass()">Passer</button>
				<button class="btn btn-primary" ng-click="nonValidatedProductImagesCtrl.validate()">Valider</button>
			</div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/file-directive.js}"></script>
		<script type="text/javascript" th:src="@{/js/product/upload-product-image-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/product/non-validated-product-images-controller.js}"></script>
	</body>
</html>