<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:fragment="categories-list" th:remove="tag">
			<ul class="nav nav-pills nav-stacked">
     			<li 
					class="level-{{category.level}}"
					ng-repeat="category in productCategoriesCtrl.categories" 
					ng-include="'tree_item_renderer.html'" 
					ng-mouseover="productCategoriesCtrl.categoryHovered(category, $event)"
				></li>
			</ul>
			
			<script type="text/ng-template"  id="tree_item_renderer.html">
    			<a>
					{{category.name}}
					<span ng-if="category == productCategoriesCtrl.hoveredCategory || category == productCategoriesCtrl.selectedCategory">
    					<button ng-if="productCategoriesCtrl.categorySelectedCallback != undefined" class="btn btn-xs btn-default" ng-click="productCategoriesCtrl.categorySelected(category, $event)">Sélectionner</button>
						<button class="btn btn-xs btn-default" ng-click="productCategoriesCtrl.editCategory(category, $event)"><span class="glyphicon glyphicon-edit"></span></button>
    					<button class="btn btn-xs btn-default" ng-click="productCategoriesCtrl.addCategory(category, $event)"><span class="glyphicon glyphicon-plus"></span></button>
    					<button ng-if="category.childCategories.length == 0" class="btn btn-xs btn-danger" ng-click="productCategoriesCtrl.confirmDeleteCategory(category, $event)"><span class="glyphicon glyphicon-remove"></span></button>
					</span>
				</a>
    			<ul class="nav nav-pills nav-stacked">
	      			<li 
						class="level-{{category.level}}"
						ng-include="'tree_item_renderer.html'" 
						ng-mouseover="productCategoriesCtrl.categoryHovered(category, $event)"
						ng-repeat="category in category.childCategories" 
					></li>
    			</ul>
			</script>

			<div ng-if="productCategoriesCtrl.error != null" class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" ng-click="productCategoriesCtrl.hideError()"><span>&times;</span></button>
				{{error}}
			</div>

			<div>
				<button class="btn btn-primary btn-xs" ng-click="productCategoriesCtrl.addRootCategory()">Ajouter</button>
			</div>
		</div>
	</body>
</html>