<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>La Dimension Fantastique - Catégorie de produits</title>
		
		<link th:replace="util/import :: head" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/product/non-categorized-product.css}" />
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div ng-controller="NonValidatedProductImagesCtrl as nonValidatedProductImagesCtrl" ng-cloak="" class="container">
			<div class="row text-center">
				<h1>Images produit non validées</h1>
			</div>

			<div class="row text-center">
				<div class="col-sm-offset-3 col-sm-6 alert alert-success" ng-if="nonValidatednonValidatedProductImagesCtrl.productNotFound">
					Aucun produit à valider.
				</div>
			</div>

			<div ng-if="!nonValidatednonValidatedProductImagesCtrl.productNotFound">
				<div class="row">
					<div class="col-sm-9">
						<div th:replace="product/product-images :: product-images"></div>					
					</div>
					
					<!--  Product details -->
					<div class="col-sm-3">
						<div class="form-group row">
							<label class="col-sm-4 control-label">Ean13</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{nonValidatedProductImagesCtrl.product.ean13}}</p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-4 control-label">Titre</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{nonValidatedProductImagesCtrl.product.extendedLabel}}</p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-4 control-label">Titre court</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{nonValidatedProductImagesCtrl.product.standardLabel}}</p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-4 control-label">Titre caisse</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{nonValidatedProductImagesCtrl.product.cashRegisterLabel}}</p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-4 control-label">Auteur</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{nonValidatedProductImagesCtrl.product.author}}</p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-4 control-label">Date de publication</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{nonValidatedProductImagesCtrl.product.datePublished | date}}</p>
							</div>
						</div>
					</div>
				</div>

				<div class="pass row text-center">
					<button class="btn btn-default" ng-click="nonValidatedProductImagesCtrl.pass()">Passer</button>
					<button class="btn btn-primary" ng-click="nonValidatedProductImagesCtrl.validate()">Valider</button>
				</div>
			</div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/file-directive.js}"></script>
		<script type="text/javascript" th:src="@{/js/upload-file-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/product/non-validated-product-images-controller.js}"></script>
	</body>
</html>