<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:fragment="customer-card" th:remove="tag">
			<div class="customer-card autoModal modal fade" ng-controller="CustomerCardCtrl as customerCardCtrl">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Fiche client</h4>
						</div>
						
						<div class="modal-body">							
							<div class=" form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 control-label">Nom</label>
									<div class="col-sm-8">
										<div ng-if="!customerCardCtrl.editMode" >
											<p class="form-control-static">{{customerCardCtrl.customer.lastName}}, {{customerCardCtrl.customer.firstName}}</p>										
										</div>
										
										<div ng-if="customerCardCtrl.editMode" >
											<input class="form-control" ng-model="customerCardCtrl.customer.lastName" placeholder="Nom de famille">
											<input class="form-control" ng-model="customerCardCtrl.customer.firstName" placeholder="Prénom">
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">Adresse</label>
									<div class="col-sm-8">
										<div ng-if="!customerCardCtrl.editMode">
											<p class="form-control-static">{{customerCardCtrl.customer.address.streetLine1}}</p>
											<p class="form-control-static">{{customerCardCtrl.customer.address.streetLine2}}</p>
											<p class="form-control-static">{{customerCardCtrl.customer.address.city}}, {{customerCardCtrl.customer.address.state}}, {{customerCardCtrl.customer.address.zipCode}}</p>
										</div>
										<div ng-if="customerCardCtrl.editMode">
											<input class="form-control" ng-model="customerCardCtrl.customer.address.streetLine1" placeholder="Adresse">
											<input class="form-control" ng-model="customerCardCtrl.customer.address.streetLine2" placeholder="Complément adresse">
											<input class="form-control" ng-model="customerCardCtrl.customer.address.city" placeholder="Ville">
											<input class="form-control" ng-model="customerCardCtrl.customer.address.state" placeholder="Département">
											<input class="form-control" ng-model="customerCardCtrl.customer.address.zipCode" placeholder="Code postal">
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">Téléphone fixe</label>
									<div class="col-sm-8">
										<p ng-if="!customerCardCtrl.editMode" class="form-control-static">{{customerCardCtrl.customer.fixedPhone}}</p>
										<input ng-if="customerCardCtrl.editMode" class="form-control" ng-model="customerCardCtrl.customer.fixedPhone" placeholder="Téléphone fixe">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">Mobile</label>
									<div class="col-sm-8">
										<p ng-if="!customerCardCtrl.editMode" class="form-control-static">{{customerCardCtrl.customer.mobilePhone}}</p>
										<input ng-if="customerCardCtrl.editMode" class="form-control" ng-model="customerCardCtrl.customer.mobilePhone" placeholder="Mobile">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">Email</label>
									<div class="col-sm-8">
										<p ng-if="!customerCardCtrl.editMode" class="form-control-static">{{customerCardCtrl.customer.email}}</p>
										<input ng-if="customerCardCtrl.editMode" class="form-control" ng-model="customerCardCtrl.customer.email" placeholder="Email">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">Ean13</label>
									<div class="col-sm-8">
										<p ng-if="!customerCardCtrl.editMode" class="form-control-static">{{customerCardCtrl.customer.ean13}}</p>
										<input ng-if="customerCardCtrl.editMode" class="form-control" ng-model="customerCardCtrl.customer.ean13" placeholder="Ean13">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">Note interne</label>
									<div class="col-sm-8">
										<p ng-if="!customerCardCtrl.editMode" class="form-control-static">{{customerCardCtrl.customer.internalNote}}</p>
										<textarea ng-if="customerCardCtrl.editMode" class="form-control" ng-model="customerCardCtrl.customer.internalNote" placeholder="Note interne"></textarea>
									</div>
								</div>
								
								<div ng-if="customerCardCtrl.customer.creationDate != null" class="form-group">
									<label class="col-sm-4 control-label">Date de création</label>
									<div class="col-sm-8">
										<p class="form-control-static">{{customerCardCtrl.customer.creationDate | date : "short"}}</p>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">Avoir</label>
									<div class="col-sm-8">
										<p class="form-control-static">{{customerCardCtrl.customerCreditAmount | currency : "&euro;"}}</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="modal-footer">
							<button
								ng-click="customerCardCtrl.cancelModify()"
								type="button" 
								class="cancel btn btn-danger hidden" 
							>Annuler</button>
							
							<button 
								ng-click="customerCardCtrl.save()"
								type="button" 
								class="save btn btn-success hidden" 
							>Enregistrer</button>
							
							<button 
								ng-click="customerCardCtrl.modify()"
								type="button" 
								class="modify btn btn-primary" 
							>Modifier</button>
							
							<button
								type="button" 
								class="closeModal btn btn-default" 
								data-dismiss="modal"
							>Fermer</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</body>
</html>