.affix{
	top: 0px;
}

.pager{
	margin-bottom: 10px;
}

.product{
	margin-top: 10px;
}

.product:HOVER{
	background-color: #F0F0F0;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
}

.product img{
	max-width: 130px;
}

.level-2{
	padding-left:10px;
}

.level-3{
	padding-left:20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.affix{
		width: 220px;
	}
}

/* Medium  devices  (tablets, 768px and up) */
@media (min-width: 992px) {
	.affix{
		width: 293px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.affix{
		width: 360px;
	}
}