.product{
	padding-top: 20px;
	padding-bottom: 20px;
}

.product h3{
	margin-top: 0px;
}

.category{
	margin-bottom: 20px;
}

.technical-info{
	margin-top: 30px;
}

.order{
	margin-bottom: 10px;
}