<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="references-list">
			<div class="references-search" ng-cloak>
				<div class="form-inline text-center">
					<div class="form-group">
						<label class="sr-only" for="query">Recherche</label>
						<input 
							id="search-reference-query" 
							ng-model="referenceSearchCtrl.query"
							ng-change="referenceSearchCtrl.search()"
							class="form-control" 
							type="text" 
							placeholder="Recherche"
						/>
					</div>
	
					<ul class="pager row text-center">
						<li class="col-md-2">
							&nbsp;
							<a 
								href="#" 
								ng-if="!referenceSearchCtrl.searchResult.first" 
								ng-click="referenceSearchCtrl.changePage(referenceSearchCtrl.searchResult.number-1)"
							>Précédente</a>
						</li>
						
						<li class="col-md-8">Page {{referenceSearchCtrl.searchResult.number+1}} sur {{referenceSearchCtrl.searchResult.totalPages}}</li>
						
						<li class="col-md-2">
							&nbsp;
							<a 
								href="#" 
								ng-if="!referenceSearchCtrl.searchResult.last" 
								ng-click="referenceSearchCtrl.changePage(referenceSearchCtrl.searchResult.number+1)"
							>Suivante</a>
						</li>
					</ul>
				</div>
			
				<div class="table-responsive">
					<table class="panel panel-default table table-hover table-condensed text-center">
						<thead>
							<tr>
								<th>
									<span>EAN 13</span>
								</th>
								<th>
									<a data-sortBy="title">Titre</a>
									<span class="ascending hide glyphicon glyphicon-chevron-up"></span>
									<span class="descending hide glyphicon glyphicon-chevron-down"></span>
								</th>
								<th>
									<a data-sortBy="author">Auteur</a>
									<span class="ascending hide glyphicon glyphicon-chevron-up"></span>
									<span class="descending hide glyphicon glyphicon-chevron-down"></span>
								</th>
								<th>
									<a data-sortBy="publisherName">Éditeur</a>
									<span class="ascending hide glyphicon glyphicon-chevron-up"></span>
									<span class="descending hide glyphicon glyphicon-chevron-down"></span>
								</th>
								<th>
									<a data-sortBy="publicationDate">Date de pub.</a>
									<span class="ascending hide glyphicon glyphicon-chevron-up"></span>
									<span class="descending hide glyphicon glyphicon-chevron-down"></span>
								</th>
								<th>Couverture</th>
								<th>
									&nbsp;
								</th>
							</tr>
						</thead>
						
						<tbody>
							<tr 
								ng-repeat="reference in referenceSearchCtrl.searchResult.content" 
								ng-click="referenceSearchCtrl.referenceSelected(reference)"
							>
								<td>{{reference.ean13}}</td>
								<td>{{reference.standardLabel}}</td>
								<td>{{reference.author}}</td>
								<td>{{reference.publisher}}</td>
								<td>{{reference.datePublished | date}}</td>
								<td><img id="reference-image-{{reference.id}}" class="reference-image" /></td>
								<td>
									<span class="glyphicon glyphicon-list-alt" ng-click="referenceSearchCtrl.openCard($event, reference)"></span>
									<img ng-if="reference.loading" th:src="@{/img/loading-small.gif}" />
									<span 
										class="glyphicon glyphicon-plus" 
										ng-if="!reference.loading && !reference.importedInKubik" 
										ng-click="referenceSearchCtrl.createProduct($event, reference)"
									></span>
									<span 
										title="reference.error"
										class="glyphicon glyphicon-exclamation-sign" 
										ng-if="!reference.loading && reference.error != null" 
									></span>
								</td>
							<tr>
							
							<tr ng-if="referenceSearchCtrl.searchResult.content.length == 0">
								<td colspan="7">
									Aucune référence retrouvée
								</td>
							</tr>
							
							<tr ng-if="referenceSearchCtrl.query == null">
								<td colspan="7">
									Rechercher une référence
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>