<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>La Dimension Fantastique - Références Dilicom</title>
		
		<link th:replace="util/import :: head">
	</head>
	
	<body>
		<div th:include="util/menu :: menu"></div>
		
		<div ng-app="Kubik" class="container text-center">
			<h1>Références Dilicom</h1>

			<div th:replace="product/products-standalone :: products-standalone"></div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/dilicom/references-page.js}"></script>
	</body>
</html>