<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html 
	ng-app="kos" 
	ng-controller="KosCtrl as kosCtrl"
>
	<head>
		<link th:replace="util/import :: head" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/product.css}" />
	</head>
	
	<body>
		<div th:replace="util/header :: header"></div>
		
		<div class="main container">
			<div th:include="util/menu :: menu"></div>
			
			<div ng-controller="ProductCtrl as productCtrl" class="product content row">
				<div ng-cloak="" class="col-sm-4 ng-cloak text-center">
					<img th:src="@{/product/{{productCtrl.product.id}}/image/MEDIUM.jpg}" />
				</div>
				
				<div ng-cloak="" class="col-sm-8 ng-cloak">
					<div class="row">
						<div class="col-sm-9">
							<div><h3>{{productCtrl.product.title}}</h3></div>
							<div><h4>De {{productCtrl.product.author}}</h4></div>
							<div>
								Parue le {{productCtrl.product.datePublished | date : "shortDate"}}
								chez {{productCtrl.product.manufacturer}}
							</div>
							<div>{{productCtrl.product.category.name}}</div>
						</div>
						<div class="col-sm-3 text-center">
							<h3>
								{{productCtrl.product.price | number : 2}} &euro;
							</h3>
							<div>
								<button class="btn btn-primary">
									<span class="glyphicon glyphicon-shopping-cart"></span>
									<span>Commander</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<script th:replace="util/footer :: footer"></script>
		</div>
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/product/product-controller.js}"></script>
	</body>
</html>