<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>La Dimension Fantastique - Accueil</title>
		
		<link th:replace="util/import :: head" />
	</head>
	
	<body>
		<div th:replace="util/header :: header"></div>
		
		<div class="main container">
			<div th:include="util/menu :: menu"></div>
			
			<div class="content row">
				<div id="carousel-example-generic" class="carousel slide"
					data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0"
							class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
	
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item  text-center active">
							<img th:src="@{/img/carousel/carousel-1.png}" />
							<div class="carousel-caption">...</div>
						</div>
						<div class="item text-center">
							<img th:src="@{/img/carousel/carousel-2.png}" />
							<div class="carousel-caption">...</div>
						</div>
						<div class="item text-center">
							<img th:src="@{/img/carousel/carousel-3.png}" />
							<div class="carousel-caption">...</div>
						</div>
					</div>
	
					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic"
						role="button" data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Précédent</span>
					</a> <a class="right carousel-control" href="#carousel-example-generic"
						role="button" data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Suivant</span>
					</a>
				</div>
							
				<div class="col-sm-12">
					Ceci est un contenu caliss
				</div>
			</div>
			
			<script th:replace="util/footer :: footer"></script>
		</div>
		<script th:replace="util/import :: scripts"></script>
	</body>
</html>