<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"

>

	<head>
		<title>La Dimension Fantastique - Fichiers Compatables</title>
		
		<link th:replace="util/import :: head">
		<link rel="stylesheet" type="text/css" th:href="@{/css/accounting/export.css}" />
	</head>
	
	<body>
		<div th:include="util/menu :: menu"></div>
		
		<div ng-app="KubikAccountingExports" ng-cloak ng-controller="KubikAccountingExportsController as view" class="container text-center">
			<h1>Fichiers comptables</h1>
			
			<div>
				<div class="row">
					<h4>Type d'export</h4>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" ng-class="{active: export.type == 'accounts'}" ng-click="changeExportType('accounts')">Comptes</button>
						<button type="button" class="btn btn-default" ng-class="{active: export.type == 'sales'}" ng-click="changeExportType('sales')">Ventes</button>
						<button type="button" class="btn btn-default" ng-class="{active: export.type == 'treasury'}" ng-click="changeExportType('treasury')">Trésorerie</button>
					</div>
				</div>
				
				<div ng-if="export.type != null">
					<div class="row" ng-if="export.type != 'accounts'">
						<div class="col-sm-3 col-sm-offset-3">
							<h4>Début</h4>
							<div><input class="date form-control" ng-model="export.startDate" placeholder="dd/MM/yyyy" type="text"></div>
						</div>
						<div class="col-sm-3">
							<h4>Fin</h4>
							<div><input class="date form-control" ng-model="export.endDate" placeholder="dd/MM/yyyy" type="text"></div>
						</div>
					</div>
					
					<div class="row">
						<h4 class="col-sm-2 col-sm-offset-5">Séparateur CSV :</h4>
					</div>
					
					<div class="row text-center">
						<div class="col-sm-2 col-sm-offset-5">
							<input class="separator form-control" type="text" size="1" ng-model="export.separator"/>
						</div>
					</div>
					
					<div class="row">
						<h4 class="col-sm-2 col-sm-offset-5">Séparateur de décimale :</h4>
					</div>
					
					<div class="row text-center">
						<div class="col-sm-2 col-sm-offset-5">
							<input class="separator form-control" type="text" size="1" ng-model="export.decimalSeparator"/>
						</div>
					</div>
		
					<div class="row">
						<button ng-click="executeExport()" class="btn btn-primary col-sm-2 col-sm-offset-5">Exporter</button>
					</div>
				</div>
			</div>
			
			<div ng-if="invalidDates" class="alert alert-warning">
				<button type="button" class="close" ng-click="closeInvalidDatesAlert()"><span aria-hidden="true">&times;</span></button>
				Les dates fournies sont invalides.
			</div>
			
			<div ng-if="invalidType" class="alert alert-warning">
				<button type="button" class="close" ng-click="closeInvalidTypeAlert()"><span aria-hidden="true">&times;</span></button>
				Aucun type d'exportation spécifié.
			</div>
			
			<div ng-if="invalidSeparator" class="alert alert-warning">
				<button type="button" class="close" ng-click="closeInvalidSeparatorAlert()"><span aria-hidden="true">&times;</span></button>
				Aucun séparateur csv définit
			</div>
		</div>
		
		<div class="customer-card"></div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/accounting/export.js}"></script>
	</body>
</html>