<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>

	<head>
		<title>La Dimension Fantastique - Caisse enregistreuse</title>
		
		<link th:replace="util/import :: head">
		<link rel="stylesheet" type="text/css" th:href="@{/css/sales/cash-register.css}" />
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div class="container" ng-cloak ng-controller="CashRegisterCtrl as cashRegisterCtrl">
			<div class="text-center">
				<h1>Caisse enregistreuse</h1>
				
				<ul class="invoice-tabs nav nav-tabs">
					<li ng-repeat="invoice in cashRegisterCtrl.invoices" id="invoice-tab-{{invoice.id}}" role="presentation" ng-click="cashRegisterCtrl.showInvoice(invoice)">
						<a ng-if="invoice.customer == null" href="#">
							<span>Client anoynme</span>
							<span class="panel panel-default">	
								<span ng-click="cashRegisterCtrl.openCustomerSearch($event)" class="pointer glyphicon glyphicon-search"></span>
							</span>
						</a>
						<a ng-if="invoice.customer != null" href="#">
							<span>{{invoice.customer.firstName}} {{invoice.customer.lastName}}</span>
							<span class="panel panel-default">
								<span ng-click="cashRegisterCtrl.openCustomerSearch($event)" class="pointer glyphicon glyphicon-search"></span>
								<span ng-click="cashRegisterCtrl.openCustomerCard($event, invoice.customer)" class="pointer glyphicon glyphicon-user"></span>
								<span ng-click="cashRegisterCtrl.removeCustomerFromInvoice()" class="pointer glyphicon glyphicon-remove"></span>
							</span>
						</a>
					</li>
					<li ng-click="cashRegisterCtrl.newInvoice()">
						<a href="#">+</a>
					</li>
				</ul>
				
				<div ng-repeat="invoice in cashRegisterCtrl.invoices" ng-if="cashRegisterCtrl.isSelectedInvoice(invoice)">
					<table class="panel panel-default table table-striped table-condensed">
						<thead class="panel-heading">
							<tr>
								<th>Produit</th>
								<th>Prix TTC</th>
								<th>Taxe</th>
								<th>Quantité</th>
								<th>Montant</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detail in cashRegisterCtrl.invoice.details">
								<td><a href="#" ng-click="cashRegisterCtrl.openProductCard($event, detail.product)">{{detail.product.ean13}} - {{detail.product.standardLabel}}</a></td>
								<td>{{detail.unitPrice | currency : '&euro;'}}
								<td>
									<div ng-repeat="taxAmount in cashRegisterCtrl.invoice.taxesAmounts">{{taxAmount.taxRate}}</div>
								</td>
								<td>
									<input 
										ng-if="!cashRegisterCtrl.loading"
										id="detail-{{detail.id}}"
										ng-keyup="cashRegisterCtrl.invoiceChanged($event)"
										ng-click="cashRegisterCtrl.invoiceChanged($event)"
										ng-model="detail.quantity"
										class="quantity form-control" 
										type="number"
										min="1" 
										max="99999"
									/>
									<input 
										disabled="disabled"
										ng-if="cashRegisterCtrl.loading"
										ng-model="detail.quantity"
										class="quantity form-control" 
										type="number"
									/>
								</td>
								
								<td>{{(detail.quantity * detail.unitPrice) | currency : '&euro;'}}</td>
								
								<td>
									<button
										type="button" 
										class="btn btn-warning btn-xs"
										ng-if="!cashRegisterCtrl.loading"
										ng-click="cashRegisterCtrl.removeInvoiceDetail(detail)" 
									>
										<span class="glyphicon glyphicon-trash"></span>
									</button>
									<button
										type="button" 
										disabled="disabled"
										class="btn btn-warning btn-xs"
										ng-if="cashRegisterCtrl.loading"
									>
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</td>
							</tr>
							
							<tr ng-if="cashRegisterCtrl.invoice.details.length == 0">
								<td colspan="6">
									Aucun produit dans le panier.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="confirm-cancel modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<p>Etes-vous sûr de vouloir annuler la annuler la vente ?</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
								<button type="button" class="btn btn-danger" ng-click="cashRegisterCtrl.cancelInvoice()">Annuler la vente</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		 
			<footer class="footer text-center">
				<div class="row">
					<div class="col-md-2">
						<div class="input-group">
  							<span class="input-group-addon">Remise</span>
							<input 
								type="number" 
							 	placeholder="Remise"
								ng-if="!cashRegisterCtrl.loading" 
								class="form-control rebate-input"
								ng-model="cashRegisterCtrl.invoice.rebatePercent" 
								ng-keyup="cashRegisterCtrl.invoiceChanged($event)"
								ng-click="cashRegisterCtrl.invoiceChanged($event)"
							/>
							<input 
								type="number" 
								disabled="disabled"
							 	placeholder="Remise"
								class="form-control rebate-input"
								ng-if="cashRegisterCtrl.loading" 
								ng-model="cashRegisterCtrl.invoice.rebatePercent" 
							/>
						</div>
					</div>
					<div class="col-md-3">
						<input 
							type="text" 
							id="search-ean13"
							placeholder="Ean13" 
							class="form-control ean13-input" 
							ng-if="!cashRegisterCtrl.loading"
							ng-model="cashRegisterCtrl.ean13" 
							ng-keyup="cashRegisterCtrl.searchProductKeyUp($event)" 
						/>
						<input 
							type="text" 
							disabled="disabled"
							placeholder="Ean13" 
							ng-if="cashRegisterCtrl.loading"
							ng-model="cashRegisterCtrl.ean13" 
							class="form-control ean13-input" 
						/>
					</div>
					
					<div class="col-md-3">
						<button 
							type="button" 
							ng-if="!cashRegisterCtrl.loading"
							class="btn btn-primary glyphicon glyphicon-search"
							ng-click="cashRegisterCtrl.openProductSearch($event)" 
						></button>
						<button 
							type="button" 
							disabled="disabled"
							ng-if="cashRegisterCtrl.loading"
							class="btn btn-primary glyphicon glyphicon-search"
						></button>
						<button 
							type="button" 
							ng-if="!cashRegisterCtrl.loading" 
							class="btn btn-danger"
							ng-click="cashRegisterCtrl.confirmCancelInvoice()" 
						>Annuler</button>
						<button 
							type="button" 
							disabled="disabled"
							ng-if="cashRegisterCtrl.loading" 
							class="btn btn-danger"
						>Annuler</button>
						<button 
							type="button" 
							ng-if="!cashRegisterCtrl.loading" 
							ng-click="cashRegisterCtrl.checkoutInvoice()" 
							class="checkout btn btn-success"
						>Encaisser</button>
						<button 
							type="button" 
							disabled="disabled"
							ng-if="cashRegisterCtrl.loading" 
							class="checkout btn btn-success"
						>Encaisser</button>
					</div>
					
					<div class="col-md-3">
						<div class="input-group	">
  							<span class="input-group-addon">Total</span>
  							<span class="form-control">
  							{{cashRegisterCtrl.invoice.totalAmount | currency : '&euro;'}}
  							</span>
						</div>
						<h4></h4>
					</div>
					
					<div class="col-md-1">
						<img ng-if="cashRegisterCtrl.loading" th:src="@{/img/loading.gif}" />
					</div>
				</div>
			</footer>
			
			<div class="payment-modal modal fade" ng-controller="PaymentCtrl as paymentCtrl">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Paiement</h4>
						</div>
						
						<div class="modal-body text-center">
							<div ng-if="paymentCtrl.invoice.status.type != 'PAID'">
								<div class="form-group"> 
									<label>Somme à aquiter</label>
									<p class="form-control-static">{{paymentCtrl.amountLeft | currency : '&euro;'}}</p>
								</div>
								
								<div class="payment-methods btn-group btn-group-justified" data-toggle="buttons">
									<label 
										id="payment-method-{{paymentCtrl.paymentMethod.type}}" 
										ng-repeat="paymentMethod in paymentCtrl.paymentMethods" 
										ng-if="paymentMethod.type != 'CREDIT' || paymentCtrl.invoice.customer != null"
										class="btn btn-default" 
										ng-click="paymentCtrl.selectPaymentMethod(paymentMethod)"
									> 
										<input type="radio" autocomplete="off">{{paymentMethod.description}}
									</label>
								</div>
								
								<div class="row">	
									<div class="col-sm-6 col-sm-offset-3">
										<div class="form-group">
											<label>Montant du paiement</label>
											<div class="input-group">
												<span class="input-group-addon" id="sizing-addon1">&euro;</span> 
												<input type="text" class="payment-amount form-control">
											</div>
										</div>
										<div class="actions">
											<button ng-click="paymentCtrl.validatePayment()" class="validate btn btn-success form-control">Valider</button>
											<button class="cancel btn btn-danger form-control" data-dismiss="modal">Annuler</button>
										</div>
										
										<div class="form-group" ng-if="paymentCtrl.invoice.customer != null"> 
											<label>Avoir client</label>
											<p class="form-control-static">{{cashRegisterCtrl.customerCreditAmount | currency : '&euro;'}}</p>
										</div>
										
										<div class="form-group"> 
											<label>Paiements enregistrés</label>
											<p ng-if="paymentCtrl.invoice.payments.length == 0" class="form-control-static">Aucun</p>
											<p ng-if="paymentCtrl.invoice.payments.length != 0" ng-repeat="payment in paymentCtrl.invoice.payments" class="form-control-static">
												{{payment.paymentMethod.description}} : {{payment.amount | currency : '&euro;'}}	
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<div ng-if="paymentCtrl.invoice.status.type == 'PAID'">
								<h4>Vente terminé</h4>
								
								<div class="form-group"> 
									<label>A rendre</label>
									<p class="form-control-static">{{paymentCtrl.invoice.amountReturned | currency : '&euro;'}}</p>
								</div>
								
								<div>
									<button ng-click="paymentCtrl.openReceipt()" type="button" class="btn btn-default form-control" data-dismiss="modal">Voir le reçu</button>
									<button ng-click="paymentCtrl.printReceipt()" type="button" class="btn btn-default form-control" data-dismiss="modal">Imprimer le recu</button>
									<button ng-click="paymentCtrl.closeSale()" type="button" class="btn btn-default form-control" data-dismiss="modal">Poursuivre les ventes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="product-not-found alert modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="alert alert-danger">
								Aucune produit retrouvé pour l'ean13 {{cashRegisterCtrl.typedEan13}}.
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
		
			<div class="invoice-closed-modal alert modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="alert alert-warning">
								Cette facture a été modifié par un autre utilisateur.
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			
		
			<div th:replace="sales/customer/customers-modal :: customers-modal"></div>
		
			<div th:replace="product/products-modal :: products-modal"></div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
			
		<script type="text/javascript" th:src="@{/js/error/error-trace-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/sales/cash-register-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/sales/payment-controller.js}"></script>
	</body>
</html>