<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>

	<head>
		<title th:text="${@environment.getProperty('kubik.company.name') + ' - Facture'}">Kubik - Facture</title>
		
		<link th:replace="util/import :: head" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/sales/invoice/invoice.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/sales/invoice/payment.css}" />
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div class="container" ng-cloak="" ng-controller="InvoiceDetailsCtrl as invoiceDetailsCtrl">
			<div class="text-center">
				<div  class="row">
					<h1 class="col-sm-2">
						<button ng-if="invoiceDetailsCtrl.previousInvoice != ''" ng-click="invoiceDetailsCtrl.changeInvoice(invoiceDetailsCtrl.previousInvoice)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
					</h1>
					<h1 class="col-sm-8" ng-switch="invoiceDetailsCtrl.invoice.status.type != 'ORDER' &amp;&amp; invoiceDetailsCtrl.invoice.status.type != 'ORDER_CONFIRMED'">
						<span ng-switch-when="true">Facture {{invoiceDetailsCtrl.invoice.number}}</span>
						<span ng-switch-when="false">Commande client {{invoiceDetailsCtrl.invoice.id}}</span>
					</h1>
					<h1 class="col-sm-2">
						<button ng-if="invoiceDetailsCtrl.nextInvoice != ''" ng-click="invoiceDetailsCtrl.changeInvoice(invoiceDetailsCtrl.nextInvoice)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
					</h1>
				</div>
				
				<div class="invoice-header table-responsive">
					<table class="invoices table table-condensed panel panel-default">
						<thead>
							<tr>
								<th>Numéro</th>
								<th>Date</th>
								<th>Client</th>
								<th>Produits</th>
								<th>Remise</th>
								<th>Frais de port</th>
								<th>Montant</th>
								<th>Paiements</th>
								<th>Statut</th>
								<th>Livraison</th>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td>{{invoiceDetailsCtrl.invoice.number}}</td>
								<td>{{invoiceDetailsCtrl.invoice.paidDate | date : "short"}}</td>
								<td ng-if="invoiceDetailsCtrl.invoice.customer != null">
									<a href="#" ng-click="invoiceDetailsCtrl.openCustomerCard($event, invoiceDetailsCtrl.invoice.customer)">
										<span ng-if="invoiceDetailsCtrl.invoice.customer.company == null">{{invoiceDetailsCtrl.invoice.customer.firstName}} {{invoiceDetailsCtrl.invoice.customer.lastName}}</span>
										<span ng-if="invoiceDetailsCtrl.invoice.customer.company != null">{{invoiceDetailsCtrl.invoice.customer.company}}</span>
									</a>
								</td>
								<td ng-if="invoiceDetailsCtrl.invoice.customer == null">
									Anonyme
								</td>
								<td>{{invoiceDetailsCtrl.invoice.details.length}}</td>
								<td>{{invoiceDetailsCtrl.invoice.rebateAmount | currency : '&euro;'}}</td>
								<td>{{invoiceDetailsCtrl.invoice.shippingCost | currency : '&euro;'}}</td>
								<td>{{invoiceDetailsCtrl.invoice.totalAmount | currency : '&euro;'}}</td>
								<td>
									<div ng-repeat="payment in invoiceDetailsCtrl.invoice.payments" class="{{invoiceDetailsCtrl.invoice.status.type == 'PAID' ? 'dropdown' : ''}}">
										<div ng-switch="payment.paymentMethod.type">
											<span ng-switch-when="BRAINTREE" title="Internet - {{payment.amount | currency : '&euro;'}}" class="glyphicon glyphicon-globe">&nbsp;</span>
											<span data-toggle="dropdown" ng-switch-when="CARD" title="Carte - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-credit-card">&nbsp;</span>
											<span data-toggle="dropdown" ng-switch-when="CASH" title="Espèces - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-euro">&nbsp;</span>
											<span data-toggle="dropdown" ng-switch-when="CHECK" title="Chèque - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-edit">&nbsp;</span>
											<span data-toggle="dropdown" ng-switch-when="CREDIT" title="Avoir - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-piggy-bank">&nbsp;</span>
											<span data-toggle="dropdown" ng-switch-when="KADEOS" title="Chèque Kadéos - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-edit">&nbsp;</span>
											<span data-toggle="dropdown" ng-switch-when="LIRE" title="Chèque Lire - {{payment.amount  | currency : '&euro;'}}" class="glyphicon glyphicon-edit">&nbsp;</span>
											<div ng-if="invoiceDetailsCtrl.invoice.status.type == 'PAID'" class="dropdown-menu" role="menu">
												<span title="Carte" ng-click="invoiceDetailsCtrl.changePaymentMethod(payment, 'CARD')" class="glyphicon glyphicon-credit-card">&nbsp;</span>
												<span title="Espèces" ng-click="invoiceDetailsCtrl.changePaymentMethod(payment, 'CASH')" class="glyphicon glyphicon-euro">&nbsp;</span>
												<span title="Chèque" ng-click="invoiceDetailsCtrl.changePaymentMethod(payment, 'CHECK')" class="glyphicon glyphicon-edit">&nbsp;</span>
												<span title="Chèque Kadéos" ng-click="invoiceDetailsCtrl.changePaymentMethod(payment, 'KADEOS')" class="glyphicon glyphicon-edit">&nbsp;</span>
												<span title="Chèque Lire" ng-click="invoiceDetailsCtrl.changePaymentMethod(payment, 'LIRE')" class="glyphicon glyphicon-edit">&nbsp;</span>
												<span title="Virement" ng-click="invoiceDetailsCtrl.changePaymentMethod(payment, 'WIRE')" class="glyphicon glyphicon-transfer">&nbsp;</span>
											</div>
										</div>
									</div>
								</td>
								<td>{{invoiceDetailsCtrl.invoice.status.description}}</td>
								<td>
									<span ng-class="{true : 'hover'}[invoiceDetailsCtrl.isShippingMethodEditable()]">
										<span 
											class="label label-warning"
											ng-click="invoiceDetailsCtrl.changeShippingMethod('TAKEOUT')"
											ng-if="invoiceDetailsCtrl.invoice.shippingMethod == 'COLISSIMO'" 
										>Colissimo</span>
										<span 
											class="label label-primary"
											ng-click="invoiceDetailsCtrl.changeShippingMethod('COLISSIMO')"
											ng-if="invoiceDetailsCtrl.invoice.shippingMethod == 'TAKEOUT'" 
										>Magasin</span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<table class="table-responsive panel panel-default table table-striped table-condensed">
					<thead class="panel-heading">
						<tr>
							<th>Ean13</th>
							<th>Produit</th>
							<th>Prix TTC</th>
							<th>Taxe</th>
							<th>Quantité</th>
							<th>Remise</th>
							<th>Montant</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in invoiceDetailsCtrl.invoice.details">
							<td>{{detail.product.ean13}}</td>
							<td><a href="#" ng-click="invoiceDetailsCtrl.openProductCard($event, detail.product)">{{detail.product.standardLabel}}</a></td>
							<td>{{detail.unitPrice | currency : '&euro;'}}</td>
							<td>{{detail.taxRate}}</td>
							<td>
								<span ng-if="invoiceDetailsCtrl.invoice.status.type != 'ORDER' &amp;&amp; invoiceDetailsCtrl.invoice.status.type != 'ORDER_CONFIRMED'">{{detail.quantity}}</span>
								<input 
									min="1" 
									max="99999"
									type="number"
									class="quantity form-control" 
									ng-model="detail.quantity"
									ng-blur="invoiceDetailsCtrl.save()"
									ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER' || invoiceDetailsCtrl.invoice.status.type == 'ORDER_CONFIRMED'"
									ng-disabled="invoiceDetailsCtrl.loading || undefined"
								/>
							</td>
							
							<td>
								<span ng-if="invoiceDetailsCtrl.invoice.status.type != 'ORDER' &amp;&amp; invoiceDetailsCtrl.invoice.status.type != 'ORDER_CONFIRMED'">
									{{detail.rebatePercent}}
								</span>
							    <span ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER' || invoiceDetailsCtrl.invoice.status.type == 'ORDER_CONFIRMED'">
									<input 
										min="0" 
										max="99.99"
										type="number"
										class="quantity form-control" 
										ng-model="detail.rebatePercent"
										id="detail-rebate-{{detail.id}}"
										ng-if="!invoiceDetailsCtrl.loading"
										ng-blur="invoiceDetailsCtrl.save()"
									/>
									
									<input 
										disabled="disabled"
										ng-if="invoiceDetailsCtrl.loading"
										ng-model="detail.rebatePercent"
										class="quantity form-control" 
										type="number"
									/>
								</span>
							</td>
									
							<td>{{(detail.quantity * detail.unitPrice) | currency : '&euro;'}}</td>
							<td>
								<button
									type="button" 
									class="btn btn-warning btn-xs"
									ng-click="invoiceDetailsCtrl.removeDetail(detail)" 
									ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER' || invoiceDetailsCtrl.invoice.status.type == 'ORDER_CONFIRMED'"
									ng-disabled="invoiceDetailsCtrl.loading || undefined"
								>
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
						
						<tr ng-if="invoiceDetailsCtrl.invoice.details.length == 0">
							<td colspan="6">	
								Aucun produit sur la facture
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="row">
					<div class="col-md-3" >
						<div ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER' || invoiceDetailsCtrl.invoice.status.type == 'ORDER_CONFIRMED'">
							<div class="input-group">
	 							<span class="input-group-addon">Remise</span>
								<input 
									min="0"
									max="99.99"
									type="number" 
								 	placeholder="Remise"
									class="form-control rebate-input"
									ng-blur="invoiceDetailsCtrl.save()"
									ng-model="invoiceDetailsCtrl.invoice.rebatePercent"
								/>
								<input 
									type="number" 
									disabled="disabled"
								 	placeholder="Remise"
									class="form-control rebate-input"
									ng-if="cashRegisterCtrl.loading" 
									ng-model="cashRegisterCtrl.invoice.rebatePercent" 
								/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER' || invoiceDetailsCtrl.invoice.status.type == 'ORDER_CONFIRMED'">
							<input 
								type="text" 
								placeholder="Ean13" 
								class="ean13 form-control"
								ng-keyup="invoiceDetailsCtrl.searchProductKeyUp($event)" 
								ng-model="invoiceDetailsCtrl.search.ean13" 
							/>
						</div>
					</div>
					<div class="col-md-5">
						<button 
							ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER' || invoiceDetailsCtrl.invoice.status.type == 'ORDER_CONFIRMED'"
							class="btn btn-success glyphicon glyphicon-search" 
							ng-click="invoiceDetailsCtrl.openProductSearch()">
						</button>
						
						<button
							class="btn btn-primary"
							ng-click="invoiceDetailsCtrl.confirmOrder()"
							ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER'"
						>Confirmer la commande</button>
						
						<button
							class="btn btn-primary"
							ng-click="invoiceDetailsCtrl.checkoutInvoice()"
							ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER_CONFIRMED'"
						>Encaisser</button>
						
						<button
							class="btn btn-danger"
							ng-click="invoiceDetailsCtrl.cancelInvoice()"
							ng-if="invoiceDetailsCtrl.invoice.status.type != 'CANCELED' &amp;&amp; invoiceDetailsCtrl.invoice.status.type != 'PAID'"
						>Annuler</button>
							
						<button 
							type="button" 
							class="btn btn-primary"
							ng-click="invoiceDetailsCtrl.confirmInvoiceAddress()" 
							ng-if="invoiceDetailsCtrl.invoice.status.type == 'ORDER' || invoiceDetailsCtrl.invoice.status.type == 'ORDER_CONFIRMED'"
						>Générer le devis</button>
						
						<span ng-if="invoiceDetailsCtrl.invoice.status.type == 'PAID'">
							<button 
								type="button" 
								class="btn btn-primary"
								ng-click="invoiceDetailsCtrl.printReceipt()" 
								th:if="${@environment.getProperty('kubik.proxy.enabled') == 'true'}" 
							>Imprimer le reçu</button>
							
							<button 
								type="button" 
								class="btn btn-primary"
								ng-click="invoiceDetailsCtrl.openReceipt()" 
							>Afficher le reçu</button>
							
							<button 
								type="button" 
								class="btn btn-primary"
								ng-click="invoiceDetailsCtrl.confirmInvoiceAddress()" 
							>Générer la facture</button>
						</span>
					</div>
				</div>
				
				<div class="refund-modal modal fade">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Remboursement</h4>
							</div>
							
							<div class="modal-body text-center">
								<div class="form-group"> 
									<label>Paiements enregistrés</label>
									<p ng-if="invoiceDetailsCtrl.invoice.payments.length == 0" class="form-control-static">Aucun</p>
									<p ng-if="invoiceDetailsCtrl.invoice.payments.length != 0" ng-repeat="payment in invoiceDetailsCtrl.invoice.payments" class="form-control-static">
										{{payment.paymentMethod.description}} : {{payment.amount | currency : '&euro;'}}	
									</p>
								</div>
								<div class="form-group"> 
									<label>Montant à rembourser</label>
									
									<p class="form-control-static">{{invoiceDetailsCtrl.invoice.totalAmount | currency : '&euro;'}}</p>
								</div>
								
								<button ng-click="invoiceDetailsCtrl.refund()" type="button" class="btn btn-danger form-control" data-dismiss="modal">Rembourser</button>
							</div>
						</div>
					</div>
				</div>
			</div>				
			
			<div class="product-not-found alert modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="alert alert-danger">
								Aucune produit retrouvé pour l'ean13 {{invoiceDetailsCtrl.search.typedEan13}}.
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Payment -->
			<script th:replace="sales/invoice/payment-modal :: payment-modal"></script>
		
			<div th:replace="product/products-modal :: products-modal"></div>
		
			<div th:replace="sales/customer/customer-card :: customer-card"></div>
			
			<!-- Invoice address confirmations -->
			<div class="confirm-address modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Générer la facture</h4>
						</div>
						
						<div class="modal-body">
							<div class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-offset-1 col-sm-9">
										<div class="checkbox">
											<label ng-click="invoiceDetailsCtrl.anonymousChanged()">
												<input type="checkbox" ng-model="invoiceDetailsCtrl.anonymousInvoice"/>Facture anonyme
											</label>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Nav tabs -->
							<ul ng-if="!invoiceDetailsCtrl.anonymousInvoice" class="nav nav-tabs" role="tablist">
								<li 
									ng-if="invoiceDetailsCtrl.invoice.shippingMethod != 'TAKEOUT'" 
									ng-class="{true : 'active', false : 'coliss'}[invoiceDetailsCtrl.confirmAddress == 'shipping']" 
									ng-click="invoiceDetailsCtrl.confirmAddress = 'shipping'"
								>
									<a href="#">Addresse de livraison</a>
								</li>
								<li 
									ng-class="{true : 'active', false : 'coliss'}[invoiceDetailsCtrl.confirmAddress == 'billing']" 
									ng-click="invoiceDetailsCtrl.confirmAddress = 'billing'"
								>
									<a href="#">Addresse de facturation</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div ng-if="!invoiceDetailsCtrl.anonymousInvoice" class="tab-content">
								<div class="tab-pane" ng-keyup="isAddressInfoValid" ng-class="{true : 'active'}[invoiceDetailsCtrl.confirmAddress == 'shipping']">
									<div class="form-group">
										<label>Prénom</label>
		   								<input type="text" class="form-control" placeholder="Prénom" ng-model="invoiceDetailsCtrl.invoice.shippingAddress.firstName" />
		 							</div>
									<div class="form-group">
										<label>Nom</label>
		   								<input type="text" class="form-control" placeholder="Nom" ng-model="invoiceDetailsCtrl.invoice.shippingAddress.lastName" />
		 							</div>
									<div class="form-group">
										<label>Adresse 1</label>
		   								<input type="text" class="form-control" placeholder="Adresse 1" ng-model="invoiceDetailsCtrl.invoice.shippingAddress.streetLine1" />
		 							</div>
									<div class="form-group">
										<label>Adresse 2</label>
		   								<input type="text" class="form-control" placeholder="Adresse 2" ng-model="invoiceDetailsCtrl.invoice.shippingAddress.streetLine2" />
		 							</div>
									<div class="form-group">
										<label>Ville</label>
		   								<input type="text" class="form-control" placeholder="Ville" ng-model="invoiceDetailsCtrl.invoice.shippingAddress.city" />
									</div>
									<div class="form-group">
										<label>Code postal</label>
		   								<input type="text" class="form-control" placeholder="Code postal" ng-model="invoiceDetailsCtrl.invoice.shippingAddress.zipCode" />
									</div>
									<div class="form-group">
										<label>Pays</label>
		   								<input type="text" class="form-control" placeholder="Pays" ng-model="invoiceDetailsCtrl.invoice.shippingAddress.country" />
									</div>
									<div class="form-group" ng-if="invoiceDetailsCtrl.invoice.shippingAddress.type == 'SHIPPING'">
										<label>Téléphone</label>
		   								<input type="text" class="form-control" placeholder="Téléphone" ng-model="invoiceDetailsCtrl.invoice.shippingAddress.phone" />
		 							</div>
								</div>
								
								<div class="tab-pane" ng-class="{true : 'active'}[invoiceDetailsCtrl.confirmAddress == 'billing']">
									<div class="form-group">
										<label>Prénom</label>
	   									<input type="text" class="form-control" placeholder="Prénom" ng-model="invoiceDetailsCtrl.invoice.billingAddress.firstName" />
		 							</div>
									<div class="form-group">
										<label>Nom</label>
		   								<input type="text" class="form-control" placeholder="Nom" ng-model="invoiceDetailsCtrl.invoice.billingAddress.lastName" />
		 							</div>
									<div class="form-group">
										<label>Adresse 1</label>
		   								<input type="text" class="form-control" placeholder="Adresse 1" ng-model="invoiceDetailsCtrl.invoice.billingAddress.streetLine1" />
		 							</div>
									<div class="form-group">
										<label>Adresse 2</label>
		   								<input type="text" class="form-control" placeholder="Adresse 2" ng-model="invoiceDetailsCtrl.invoice.billingAddress.streetLine2" />
		 							</div>
									<div class="form-group">
										<label>Ville</label>
		   								<input type="text" class="form-control" placeholder="Ville" ng-model="invoiceDetailsCtrl.invoice.billingAddress.city" />
									</div>
									<div class="form-group">
										<label>Code postal</label>
		   								<input type="text" class="form-control" placeholder="Code postal" ng-model="invoiceDetailsCtrl.invoice.billingAddress.zipCode" />
									</div>
									<div class="form-group">
										<label>Pays</label>
		   								<input type="text" class="form-control" placeholder="Pays" ng-model="invoiceDetailsCtrl.invoice.billingAddress.country" />
									</div>
									<div class="form-group" ng-if="invoiceDetailsCtrl.invoice.billingAddress.type == 'SHIPPING'">
										<label>Téléphone</label>
		   								<input type="text" class="form-control" placeholder="Téléphone" ng-model="invoiceDetailsCtrl.invoice.billingAddress.phone" />
		 							</div>
								</div>
							</div>
						</div>
						
						<div class="modal-footer">
							<button class="btn btn-default" ng-click="invoiceDetailsCtrl.cancelConfirmAddress()">Annuler</button>
							<button 
								class="btn btn-primary" 
								ng-click="invoiceDetailsCtrl.generateInvoicePdf()"
								ng-disabled="!invoiceDetailsCtrl.isAddressInfoValid()"
							>Générer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		
		<script type="text/javascript" th:src="@{/js/sales/customer/customer-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/sales/invoice/invoice-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/sales/invoice/invoice-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/sales/invoice/payment-controller.js}"></script>
		<script type="text/javascript" th:src="@{/js/warehouse/product-inventory-service.js}"></script>
	</body>
</html>