<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:fragment="categories-standalone" th:remove="tag">
			<div ng-controller="ProductCategoriesCtrl as productCategoriesCtrl">
				<div th:replace="product/categories-list :: categories-list"></div>
				
				<div th:replace="product/categories-confirmations-modals :: categories-confirmations-modals"></div>
			</div>
		</div>
	</body>
</html>