<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>La Dimension Fantastique - Catégories de produits</title>
		
		<link th:replace="util/import :: head">
		<link rel="stylesheet" type="text/css" th:href="@{/css/product/categories.css}" />
	</head>
	
	<body>
		<div th:include="util/menu :: menu"></div>
		
		<div ng-app="KubikProductCategories" ng-controller="KubikProductCategoriesController" ng-cloak class="container text-center">
			<h1>Catégories de produits</h1>

			<ul class="pager row text-center">
				<li class="col-md-2">
					&nbsp;
					<a href="#" ng-if="!categoriesPage.first" ng-click="changePage(categoriesPage.number-1)">Précédente</a>
				</li>
				
				<li class="col-md-8">Page {{categoriesPage.number+1}} sur {{categoriesPage.totalPages}}</li>
				
				<li class="col-md-2">
					&nbsp;
					<a href="#" ng-if="!categoriesPage.last" ng-click="changePage(categoriesPage.number+1)">Suivante</a>
				</li>
			</ul>
			
			<div>
				<button class="btn btn-primary btn-xs" ng-click="addCategory()">Ajouter</button>
			</div>
			
			<div class="categories table-responsive">
				<table ng-if="categoriesPage.content.length != 0" class="panel panel-default table table-hover table-condensed text-center">
					<thead>
						<tr>
							<th>Nom</th>
							<th>&nbsp;</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="category in categoriesPage.content" ng-click="openCategory(category)">
							<td>{{category.name}}</td>
							<td>
								<span class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="confirmDeleteCategory(category, $event)"></span>
							</td>
						<tr>
					</tbody>
				</table>
				
				<table ng-if="categoriesPage.content.length == 0" class="panel panel-default table table-condensed text-center">
					<thead>
						<tr>
							<th>Nom</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td>Aucune catégorie</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<div class="confirm-delete-category-modal modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<p ng-if="productCount != 0">
								{{productCount}} 
								<span ng-if="productCount == 1">produit perdra sa  catégorisation</span>
								<span ng-if="productCount != 1">produits perdront leur catégorisation.</span>
							</p>
							 
							<p>Êtes-vous sûr de vouloir supprimer la catégorie {{category.name}} ?</p>
						</div>
						<div ng-if="loading" class="modal-footer">
							<img th:src="@{/img/loading-small.gif}" />
							<button type="button" class="btn btn-danger" disabled="disabled">Oui</button>
							<button type="button" class="btn btn-default" disabled="disabled">Fermer</button>
						</div>
						
						<div ng-if="!loading" class="modal-footer">
							<button type="button" class="btn btn-danger" ng-click="deleteCategory(category)">Oui</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/product/categories.js}"></script>
	</body>
</html>