<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>La Dimension Fantastique - Catégorie de produits</title>
		
		<link th:replace="util/import :: head">
		<link rel="stylesheet" type="text/css" th:href="@{/css/product/non-categorized-product.css}" />
	</head>
	
	<body>
		<div th:include="util/menu :: menu"></div>
		
		<div ng-app="KubikNonCategorizedProduct" ng-controller="KubikNonCategorizedProductController" ng-cloak="" class="container text-center">
			<h1>Produit non catégorisé</h1>

			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-4 control-label">Ean13</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{product.ean13}}</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-4 control-label">Titre</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{product.extendedLabel}}</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-4 control-label">Titre court</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{product.standardLabel}}</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-4 control-label">Titre caisse</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{product.cashRegisterLabel}}</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-4 control-label">Auteur</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{product.author}}</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-4 control-label">Date de publication</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{product.datePublished | date}}</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-4 control-label">Catégorie</label>
					<div class="col-sm-8">
						<select 
							class="form-control" 
							ng-model="category"
							ng-change="categoryChanged()"
							ng-options="category.name for category in categories track by category.id" 
						></select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-4 control-label">Sous catégorie</label>
					<div class="col-sm-8">
						<select 
							class="form-control" 
							ng-change="subCategoryChanged()" 
							ng-options="subCategory.name for subCategory in subCategories track by subCategory.id" 
							ng-model="product.subCategory"
						></select>
					</div>
				</div>
			</div>
			
			<div>
				<button class="btn btn-default" ng-click="pass()">Passer</button>
				<button class="btn btn-primary" ng-click="save()">Enregister</button>
			</div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/product/non-categorized-product.js}"></script>
	</body>
</html>