<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="product-card" class="product-card" ng-controller="ProductCardCtrl as productCardCtrl">
		<div class="kubikProductCard modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Fiche produit</h4>
					</div>
					
					<div class="modal-body">
						<div class="text-center">
							<img src="http://images1.centprod.com/{{productCardCtrl.company.ean13}}/{{productCardCtrl.product.imageEncryptedKey}}-cover-medium.jpg">
						</div>
					
						<ul class="nav nav-tabs">
							<li role="presentation" ng-click="productCardCtrl.changeTab('product')" ng-class="{true : 'active'}[productCardCtrl.productTab == 'product']"><a href="#">Produit</a></li>
							<li role="presentation" ng-click="productCardCtrl.changeTab('category')" ng-class="{true : 'active'}[productCardCtrl.productTab == 'category']"><a href="#">Catégorisation</a></li>
							<li role="presentation" ng-click="productCardCtrl.changeTab('publisher')" ng-class="{true : 'active'}[productCardCtrl.productTab == 'publisher']"><a href="#">Editeur</a></li>
							<li role="presentation" ng-click="productCardCtrl.changeTab('price')" ng-class="{true : 'active'}[productCardCtrl.productTab == 'price']"><a href="#">Prix</a></li>
							<li role="presentation" ng-click="productCardCtrl.changeTab('supplier')" ng-class="{true : 'active'}[productCardCtrl.productTab == 'supplier']"><a href="#">Fournisseur</a></li>
							<li role="presentation" ng-click="productCardCtrl.changeTab('dimensions')" ng-class="{true : 'active'}[productCardCtrl.productTab == 'dimensions']"><a href="#">Dimensions</a></li>
							<li role="presentation" ng-click="productCardCtrl.changeTab('inventory')" ng-class="{true : 'active'}[productCardCtrl.productTab == 'inventory']"><a href="#">Inventaire</a></li>
						</ul>
						
						<div class="tab product" ng-class="{true : 'hidden'}[productCardCtrl.productTab != 'product']">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-6 control-label">Ean13</label>
									<div class="col-sm-6">
										<p class="form-control-static">{{productCardCtrl.product.ean13}}</p>
										<input ng-if="productCardCtrl.editMode && productCardCtrl.product.id == null" class="form-control" ng-model="productCardCtrl.product.ean13" placeholder="Ean13">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Titre</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.extendedLabel}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.extendedLabel" placeholder="Titre">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Titre court</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.standardLabel}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.standardLabel" placeholder="Titre court">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Titre caisse</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.cashRegisterLabel}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.cashRegisterLabel" placeholder="Titre caisse">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Auteur</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.author}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.author" placeholder="Auteur">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Date de publication</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.datePublished | date}}</p>
										<input ng-if="productCardCtrl.editMode" class="date-published form-control" value="{{productCardCtrl.product.datePublished}}" placeholder="Date de publication">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Date de fin de disponibilité</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.publishEndDate | date}}</p>
										<input ng-if="productCardCtrl.editMode" class="publish-end-date form-control" placeholder="Date de fin de disponibilité" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Isbn</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.isbn}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.isbn" placeholder="Isbn">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Thème</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.theme}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.theme" placeholder="Thème">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Collection</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.collection}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.collection" placeholder="Collection">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Référence collection</label>
									<div class="col-sm-6">
										<p class="form-control-static">{{productCardCtrl.product.collectionReference}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.collectionReference" placeholder="Référence collection">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Disponibilité</label>
									<div class="col-sm-6">
										<p class="form-control-static">{{productCardCtrl.product.availabilityCode}}</p>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Disponible à la commande</label>
									<div class="col-sm-6">
										<p class="form-control-static">
											<span ng-if="productCardCtrl.product.availableForOrder">Oui</span>
											<span ng-if="!productCardCtrl.product.availableForOrder">Non</span>
										</p>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Type de produit</label>
									<div class="col-sm-6">
										<p class="form-control-static">{{productCardCtrl.product.productType}}</p>
									</div>
								</div>
							</form>
						</div>
						
						<div class="tab category form-horizontal" ng-class="{true : 'hidden'}[productCardCtrl.productTab != 'category']">
							<div class="form-group">
								<label class="col-sm-6 control-label">Catégorie</label>
								<div class="col-sm-6">
									<p class="form-control-static">
										{{productCardCtrl.product.category.name}}
										<button 
											ng-if="productCardCtrl.editMode" 
											class="btn btn-xs btn-default" 
											ng-click="productCardCtrl.openProductCategories()"
										><span class="glyphicon glyphicon-edit"></span></button>
									</p>
								</div>
							</div>
						</div>
						
						<div class="tab publisher" ng-class="{true : 'hidden'}[productCardCtrl.productTab != 'publisher']">	
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-6 control-label">Nom</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.publisher}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.publisher" placeholder="Nom">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Présentation</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.publisherPresentation}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.publisherPresentation" placeholder="Présentation">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Isbn</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.publisherIsnb}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.publisherIsnb" placeholder="Isbn">
									</div>
								</div>
							</form>
						</div>
						
						<div class="tab price" ng-class="{true : 'hidden'}[productCardCtrl.productTab != 'price']">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-6 control-label">Type de prix</label>
									<div class="col-sm-6">
										<p class="form-control-static">{{productCardCtrl.product.priceType}}</p>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Prix TTC</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.priceTaxIn | currency : "&euro;"}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.priceTaxIn" placeholder="Prix TTC">
									</div>
								</div>
								
								<div ng-if="!productCardCtrl.product.dilicomReference" class="form-group">
									<label class="col-sm-6 control-label">Prix d'achat HT</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.purchasePriceTaxOut | currency : "&euro;"}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.purchasePriceTaxOut" placeholder="Prix d'achat HT">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Taxes</label>
									<div ng-if="!productCardCtrl.editMode" class="col-sm-6">
										<p ng-if="productCardCtrl.product.tvaRate1 != null && productCardCtrl.product.tvaRate1 != 0" class="form-control-static">{{productCardCtrl.product.tvaRate1}} %</p>
										<p ng-if="productCardCtrl.product.tvaRate2 != null && productCardCtrl.product.tvaRate2 != 0" class="form-control-static">{{productCardCtrl.product.tvaRate2}} %</p>
										<p ng-if="productCardCtrl.product.tvaRate3 != null && productCardCtrl.product.tvaRate3 != 0" class="form-control-static">{{productCardCtrl.product.tvaRate3}} %</p>
									</div>
									<div ng-if="productCardCtrl.editMode" class="col-sm-6">
										<input class="form-control" ng-model="productCardCtrl.product.tvaRate1" placeholder="Taux taxe 1">
										<input class="form-control" ng-model="productCardCtrl.product.tvaRate2" placeholder="Taux taxe 2">
										<input class="form-control" ng-model="productCardCtrl.product.tvaRate3" placeholder="Taux taxe 3">
									</div>
								</div>
							</form>
						</div>
						
						<div class="tab supplier" ng-class="{true : 'hidden'}[productCardCtrl.productTab != 'supplier']">
							<form class="form-horizontal">
								<div ng-if="!productCardCtrl.editMode || productCardCtrl.product.dilicomReference">
									<div class="form-group">
										<label class="col-sm-6 control-label">Nom</label>
										<div class="col-sm-6">
											<p class="form-control-static">{{productCardCtrl.product.supplier.name}}</p>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-6 control-label">Ean13</label>
										<div class="col-sm-6">
											<p class="form-control-static">{{productCardCtrl.product.supplier.ean13}}</p>
										</div>
									</div>
								</div>
								
								<div ng-if="productCardCtrl.editMode && !productCardCtrl.product.dilicomReference">
									<div class="form-group">
										<label class="col-sm-6 control-label">Fournisseur</label>
										<div class="col-sm-6">
											<select 
												class="product-supplier form-control">
												<option 
													ng-repeat="supplier in suppliers" 
													id="product-supplier-{{supplier.id}}" 
													value="{{supplier.id}}"
												>{{supplier.name}} - {{supplier.ean13}}</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Remise</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.discount}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.discount" type="number" min="0" max="100" step="0.1" placeholder="Référence">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Référence</label>
									<div class="col-sm-6">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.supplierReference}}</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.supplierReference" placeholder="Référence">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Type de retour</label>
									<div class="col-sm-6">
										<p class="form-control-static">{{productCardCtrl.product.returnType}}</p>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Unité de commande</label>
									<div class="col-sm-6">
										<p class="form-control-static">{{productCardCtrl.product.returnType}}</p>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-6 control-label">Commande à l'unité</label>
									<div class="col-sm-6">
										<p class="form-control-static">
											<span ng-if="productCardCtrl.product.orderableByUnit">Oui</span>
											<span ng-if="!productCardCtrl.product.orderableByUnit">Non</span>
										</p>
									</div>
								</div>
 							</form>
						</div>
						
						<div class="tab dimensions" ng-class="{true : 'hidden'}[productCardCtrl.productTab != 'dimensions']">							 
							<form class="form-horizontal">	
								<div class="form-group">
									<label class="col-sm-6 control-label">Hauteur</label>
									<div class="col-sm-6" ng-if="productCardCtrl.product.height != null">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.height}} mm</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.height" placeholder="Hauteur en millimètre">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-6 control-label">Largeur</label>
									<div class="col-sm-6" ng-if="productCardCtrl.product.width != null">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.width}} mm</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.width" placeholder="Largeur en millimètre">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-6 control-label">Epaisseur</label>
									<div class="col-sm-6" ng-if="productCardCtrl.product.thickness != null">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.thickness}} mm</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.thickness" placeholder="Epaisseur en millimètre">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-6 control-label">Poids</label>
									<div class="col-sm-6" ng-if="productCardCtrl.product.weight != null">
										<p ng-if="!productCardCtrl.editMode" class="form-control-static">{{productCardCtrl.product.weight}} g</p>
										<input ng-if="productCardCtrl.editMode" class="form-control" ng-model="productCardCtrl.product.weight" placeholder="Poids en gramme">
									</div>
								</div>
							</form>
						</div>
						
						<div class="tab inventory" ng-class="{true : 'hidden'}[productCardCtrl.productTab != 'inventory']">							 
							<div class="form-horizontal">	
								<div class="form-group">
									<label class="col-sm-6 control-label">Quantité disponible</label>
									<div class="col-sm-6">
										<p ng-if="productCardCtrl.product.productInventory != null" class="form-control-static">{{productCardCtrl.product.productInventory.quantityOnHand}}</p>
										<p ng-if="productCardCtrl.product.productInventory == null" class="form-control-static">0</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-6 control-label">Mises de côté</label>
									<div class="col-sm-6">
										<p ng-if="productCardCtrl.product.productInventory != null" class="form-control-static">{{productCardCtrl.product.productInventory.quantityOnHold}}</p>
										<p ng-if="productCardCtrl.product.productInventory == null" class="form-control-static">0</p>
									</div>
								</div>
							</div>
							
							<ul class="nav nav-tabs">
								<li role="presentation" ng-click="productCardCtrl.changeInventoryTab('reception')" ng-class="{true : 'active'}[productCardCtrl.inventoryTab == 'reception']"><a href="#">Commandes</a></li>
								<li role="presentation" ng-click="productCardCtrl.changeInventoryTab('invoice')" ng-class="{true : 'active'}[productCardCtrl.inventoryTab == 'invoice']"><a href="#">Ventes</a></li>
								<li role="presentation" ng-click="productCardCtrl.changeInventoryTab('rma')" ng-class="{true : 'active'}[productCardCtrl.inventoryTab == 'rma']"><a href="#">Retours fournisseurs</a></li>
								<li role="presentation" ng-click="productCardCtrl.changeInventoryTab('customerCredit')" ng-class="{true : 'active'}[productCardCtrl.inventoryTab == 'customerCredit']"><a href="#">Retours clients</a></li>
							</ul>
						
							<div class="text-center">
								<ul class="pager row">
									<li class="col-md-2">
										&nbsp;
										<a 
											href="#" 
											ng-if="!productCardCtrl.inventoryTabs[productCardCtrl.inventoryTab].result.first" 
											ng-click="productCardCtrl.changePage(productCardCtrl.inventoryTabs[productCardCtrl.inventoryTab].result.number-1)"
										>Précédente</a>
									</li>
									
									<li class="col-md-8">
										Page 
										{{productCardCtrl.inventoryTabs[productCardCtrl.inventoryTab].result.number+1}} 
										sur 
										{{(productCardCtrl.inventoryTabs[productCardCtrl.inventoryTab].result.totalPages != 0 ? productCardCtrl.inventoryTabs[productCardCtrl.inventoryTab].result.totalPages : 1)}}
									</li>
									
									<li class="col-md-2">
										&nbsp;
										<a href="#" ng-if="!productCardCtrl.inventoryTabs[productCardCtrl.inventoryTab].result.last" ng-click="changePage(productCardCtrl.inventoryTabs[productCardCtrl.inventoryTab].result.number+1)">Suivante</a>
									</li>
								</ul>
								
								<div class="tab reception" ng-class="{true : 'hidden'}[productCardCtrl.inventoryTab != 'reception']">							 
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th>Réception</th>
												<th>Date</th>
												<th>Quantité</th>
											</tr>
										</tbody>
										<tbody>
											<tr ng-repeat="detail in productCardCtrl.inventoryTabs.reception.result.content">
												<td><a href="/reception/{{detail.reception.id}}" target="_blank">{{detail.reception.id}}</a></td>
												<td>{{detail.reception.dateReceived | date}}</td>
												<td>{{detail.quantityReceived}}</td>
											</tr>
											<tr ng-if="productCardCtrl.inventoryTabs.reception.result.content.length == 0">
												<td colspan="3">Aucune réception pour ce produit</td>
											</tr>
										</tbody>
									</table>
								</div>
							
								<div class="tab invoice" ng-class="{true : 'hidden'}[productCardCtrl.inventoryTab != 'invoice']">							 
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th>Facture</th>
												<th>Date</th>
												<th>Quantité</th>
											</tr>
										</tbody>
										<tbody>
											<tr ng-repeat="detail in productCardCtrl.inventoryTabs.invoice.result.content">
												<td><a href="/invoice/{{detail.invoice.id}}" target="_blank">{{detail.invoice.id}}</a></td>
												<td>{{detail.invoice.paidDate | date}}</td>
												<td>{{detail.quantity}}</td>
											</tr>
											<tr ng-if="productCardCtrl.inventoryTabs.invoice.result.content.length == 0">
												<td colspan="3">Aucune facture pour ce produit</td>
											</tr>
										</tbody>
									</table>
								</div>
							
								<div class="tab rma" ng-class="{true : 'hidden'}[productCardCtrl.inventoryTab != 'rma']">							 
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th>Retour</th>
												<th>Date</th>
												<th>Quantité</th>
											</tr>
										</tbody>
										<tbody>
											<tr ng-repeat="detail in productCardCtrl.inventoryTabs.rma.result.content">
												<td><a href="/rma/{{detail.rma.id}}" target="_blank">{{detail.rma.id}}</a></td>
												<td>{{detail.rma.shippedDate | date}}</td>
												<td>{{detail.quantity}}</td>
											</tr>
											<tr ng-if="productCardCtrl.inventoryTabs.rma.result.content.length == 0">
												<td colspan="3">Aucun retour fournisseur pour ce produit</td>
											</tr>
										</tbody>
									</table>
								</div>
						
								<div class="tab customerCredit" ng-class="{true : 'hidden'}[productCardCtrl.inventoryTab != 'customerCredit']">							 
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th>Retour</th>
												<th>Date</th>
												<th>Quantité</th>
											</tr>
										</tbody>
										<tbody>
											<tr ng-repeat="detail in productCardCtrl.inventoryTabs.customerCredit.result.content">
												<td><a href="/customerCredit/{{detail.customerCredit.id}}" target="_blank">{{detail.customerCredit.id}}</a></td>
												<td>{{detail.customerCredit.completeDate | date}}</td>
												<td>{{detail.quantity}}</td>
											</tr>
											<tr ng-if="productCardCtrl.inventoryTabs.customerCredit.result.content.length == 0">
												<td colspan="3">Aucun retour client pour ce produit</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
						
					<div class="modal-footer">
						<button
							ng-click="productCardCtrl.cancelModify()"
							type="button" 
							class="cancel btn btn-danger hidden" 
						>Annuler</button>
						
						<button 
							ng-click="productCardCtrl.save()"
							type="button" 
							class="save btn btn-success hidden" 
						>Enregistrer</button>
						
						<button 
							ng-click="productCardCtrl.modify()"
							type="button" 
							class="modify btn btn-primary" 
						>Modifier</button>
						
						<button
							type="button" 
							class="closeModal btn btn-default" 
							data-dismiss="modal"
						>Fermer</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div th:replace="product/categories-modal :: categories-modal"></div>
	</div>
</body>
</html>