<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:fragment="payment-modal" class="payment-modal modal fade" ng-controller="PaymentCtrl as paymentCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Paiement</h4>
					</div>
					
					<div class="modal-body text-center">
						<div ng-if="paymentCtrl.invoice.status.type != 'PAID'">
							<div class="form-group"> 
								<label>Somme à aquiter</label>
								<p class="form-control-static">{{paymentCtrl.amountLeft | currency : '&euro;'}}</p>
							</div>
							
							<div class="payment-methods btn-group btn-group-justified" data-toggle="buttons">
								<label 
									class="btn btn-default" 
									id="payment-method-{{paymentCtrl.paymentMethod.type}}" 
									ng-repeat="paymentMethod in paymentCtrl.paymentMethods" 
									ng-click="paymentCtrl.selectPaymentMethod(paymentMethod)"
									ng-if="paymentMethod.availableToCashRegister || (paymentMethod.type == 'CREDIT' && paymentCtrl.invoice.customer != null)"
								> 
									<input type="radio" autocomplete="off">{{paymentMethod.description}}
								</label>
							</div>
							
							<div class="row">	
								<div class="col-sm-6 col-sm-offset-3">
									<div class="form-group">
										<label>Montant du paiement</label>
										<div class="input-group">
											<span class="input-group-addon" id="sizing-addon1">&euro;</span> 
											<input type="text" class="payment-amount form-control">
										</div>
									</div>
									<div class="actions">
										<button ng-click="paymentCtrl.validatePayment()" class="validate btn btn-success form-control">Valider</button>
										<button class="cancel btn btn-danger form-control" data-dismiss="modal">Annuler</button>
									</div>
									
									<div class="form-group" ng-if="paymentCtrl.invoice.customer != null"> 
										<label>Avoir client</label>
										<p class="form-control-static">{{paymentCtrl.customerCreditAmount | currency : '&euro;'}}</p>
									</div>
									
									<div class="form-group"> 
										<label>Paiements enregistrés</label>
										<p ng-if="paymentCtrl.invoice.payments.length == 0" class="form-control-static">Aucun</p>
										<p ng-if="paymentCtrl.invoice.payments.length != 0" ng-repeat="payment in paymentCtrl.invoice.payments" class="form-control-static">
											{{payment.paymentMethod.description}} : {{payment.amount | currency : '&euro;'}}	
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<div ng-if="paymentCtrl.invoice.status.type == 'PAID'">
							<h4>Vente terminé</h4>
							
							<div class="form-group"> 
								<label>A rendre</label>
								<p class="form-control-static">{{paymentCtrl.invoice.amountReturned | currency : '&euro;'}}</p>
							</div>
							
							<div>
								<button ng-click="paymentCtrl.openReceipt()" type="button" class="btn btn-default form-control" data-dismiss="modal">Voir le reçu</button>
								<button ng-click="paymentCtrl.printReceipt()" type="button" class="btn btn-default form-control" data-dismiss="modal">Imprimer le recu</button>
								<button ng-click="paymentCtrl.closeSale()" type="button" class="btn btn-default form-control" data-dismiss="modal">Poursuivre</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>