<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="header">
			<header class="container">
				<div class="col-sm-8">
					<img th:src="@{/img/logos/dimension-fantastique-noir.png}" />
				</div>
				
				<div class="col-sm-2">
					<div class="row text-center">
						<div class="glyphicon glyphicon-shopping-cart">
							<div class="col-xs-1 glyphicon glyphicon-user"></div>
							
							<div class="col-xs-5">Mon compte</div>
						</div>
						<div class="col-xs-offset-6 col-xs-1 glyphicon glyphicon-shopping-cart">
							<div ng-app="CartSummaryCtrl as cartSummaryCtrl">
								<div class="col-xs-4">
									<div>Panier</div>
									<div>0,00 &euro;</div>
								</div>
								<div class="col-xs-1">
									<span class="badge">0</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
	</body>
</html>
