<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="head" th:remove="tag">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/kubik-online.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
	</head>
	
	<body th:fragment="scripts" th:remove="tag">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" th:src="@{/js/kos-module.js}"></script>
		<script type="text/javascript" th:src="@{/js/company/company-service.js}"></script>
		<script type="text/javascript" th:src="@{/js/product/product-service.js}"></script>
	</body>
</html>