<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="menu">
			<!-- Fixed navbar -->
			<div class="menu">
				<div class="navigation row">
					<nav>
						<ul class="navigation text-center">
							<li class="col-sm-3">
								<a href="/">La Librairie</a>
							</li>
							
							<li class="col-sm-2">
								<a href="/catalog/category/3">Romans</a>
							</li>
							
							<li class="col-sm-2">
								<a href="/catalog/category/2">BD</a>
							</li>
							
							<li class="col-sm-2">
								<a href="/catalog/category/4">Produits Dérivés</a>
							</li>
							
							<li class="col-sm-3">
								<a href="/event">Evènements</a>
							</li>
						</ul>
					</nav>
				</div>
				
				<div class="sub-menu row">
					<div class="col-sm-10 sub-menu-cell">&nbsp;</div>
					<div class="col-sm-2 sub-menu-cell text-center">
						<div class="sub-menu-spacer pull-left">&nbsp;</div>
							<a href="http://blog.dimensionfantastique.com">BLOG &gt;&gt;</a>
					</div>
				</div>
				
				<div class="search-bar row">
					<div class="col-sm-2 you-search text-right">Vous cherchez ?</div>
					<div class="col-sm-5"><input class="form-control" type="text" /></div>
					<div class="col-sm-2"><button class="btn btn-default">Recherche</button></div>
					<div class="col-sm-3">&nbsp;</div>
				</div>
			</div>
		</div>
	</body>
</html>
