<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>

	<head>
		<title>La Dimension Fantastique - Commandes fournisseur</title>
		
		<link th:replace="util/import :: head">
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div class="container text-center" ng-cloak ng-controller="PurchaseOrdersCtrl as purchaseOrdersCtrl">
			<h1>Commandes fournisseur</h1>
			
			<ul class="pager row text-center">
				<li class="col-md-2">
					&nbsp;
					<a href="#" ng-if="!purchaseOrdersCtrl.ordersPage.first" ng-click="purchaseOrdersCtrl.changePage(purchaseOrdersCtrl.ordersPage.number-1)">Précédente</a>
				</li>
				
				<li class="col-md-8">Page {{purchaseOrdersCtrl.ordersPage.number+1}} sur {{purchaseOrdersCtrl.ordersPage.totalPages}}</li>
				
				<li class="col-md-2">
					&nbsp;
					<a href="#" ng-if="!purchaseOrdersCtrl.ordersPage.last" ng-click="purchaseOrdersCtrl.changePage(purchaseOrdersCtrl.ordersPage.number+1)">Suivante</a>
				</li>
			</ul>
			

			<div class="table-responsive">		
				<table class="panel panel-default orders table table-striped table-hover table-condensed">
					<thead>
						<tr class="text-center">
							<th>#</th>
							<th>Fournisseur</th>
							<th>Création</th>
							<th>Réception</th>
							<th>Status</th>
							<th>Mode livraison</th>
							<th>Date de livraison min.</th>
							<th>Date de livraison max.</th>
							<th>Produits</th>
							<th>Quantité</th>
							<th>Prix HT</th>
							<th>&nbsp;</th>
						</tr>
						</thead>
					<tbody>
						<tr ng-repeat="order in purchaseOrdersCtrl.ordersPage.content" ng-click="purchaseOrdersCtrl.openOrder(order.id)">
							<td>{{order.id}}</td>
							<td><a href="#" ng-click="purchaseOrdersCtrl.openSupplierCard($event, order.supplier)">{{order.supplier.name}}</a></td>
							<td>{{order.date | date : "short"}}</td>
							<td>{{order.dateReceived | date : "short"}}</td>
							<td>
								<span ng-if="order.status == 'DRAFT'" class="label label-info">Brouillon</span>
								<span ng-if="order.status == 'SUBMITED'" class="label label-success">Soumise</span>
								<span ng-if="order.status == 'CANCELED'" class="label label-danger">Annulée</span>
								<span ng-if="order.status == 'RECEIVED'" class="label label-danger">Reçue</span>
							</td>
							<td>{{order.shippingMode}}</td>
							<td>{{order.minDeliveryDate | date : "shortDate"}}</td>
							<td>{{order.maxDeliveryDate | date : "shortDate"}}</td>
							<td>{{order.details.length}}</td>
							<td>{{calculateOrderQuantity(order)}}</td>
							<td>{{order.totalAmountTaxOut | currency : '&euro;'}}</td>
							<td>
								<span ng-if="order.sentToDilicom" class="glyphicon glyphicon-transfer" title="Envoyé à Dilicom"></span>
								&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<div th:replace="product/supplier-card :: supplier-card"></div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/purchase/orders.js}"></script>
	</body>
</html>