<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>La Dimension Fantastique - Accueil</title>
		
		<link th:replace="util/import :: head">
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div class="container">
			<h1>La Dimension Fantastique</h1>
		</div>
		<script th:replace="util/import :: scripts"></script>
	</body>
</html>