<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html 
	ng-app="kos" 
	ng-controller="KosCtrl as kosCtrl"
>
	<head>		
		<link th:replace="util/import :: head" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/product-search.css}" />
	</head>
	
	<body ng-controller="ProductSearchCtrl as productSearchCtrl">
		<div th:replace="util/header :: header"></div>
		
		<div class="main container">
			<div th:replace="util/menu :: menu"></div>
			
			<div class="productPage content content-main" ng-cloak="">
				<div class="row">
					<div class="col-sm-4 hidden-xs">
						<div data-spy="affix" data-smart-affix="">
							<div>
								<h4>Catégories</h4>
								
								<!-- There is an issue with Select2 where width needs to be explicit. Responsive design won't work with 
								a definition comming from a css. -->
								<select 
									style="width: 100%"
									multiple="multiple" 
									class="categories-select form-control"
									ng-change="productSearchCtrl.categoriesChanged()"
									ng-model="productSearchCtrl.searchParams.categories" 
									ng-options="category.name as category.name for category in productSearchCtrl.categories" 
								></select>
							</div>
							
							<div>
								<h4>Titre</h4>
								
								<input 
									type="text" 
									class="form-control" 
									ng-keyup="productSearchCtrl.triggerSearchEvent()" 
									ng-model="productSearchCtrl.searchParams.title" 
								/>
							</div>
							
							<div>
								<h4>Auteur</h4>
								
								<input 
									type="text" 
									class="form-control" 
									ng-keyup="productSearchCtrl.triggerSearchEvent()" 
									ng-model="productSearchCtrl.searchParams.author" 
								/>
							</div>
							
							<div>
								<h4>Editeur</h4>
								
								<input 
									type="text" 
									class="form-control" 
									ng-keyup="productSearchCtrl.triggerSearchEvent()" 
									ng-model="productSearchCtrl.searchParams.manufacturer" 
								/>
							</div>
						</div>
					</div>
					
					<div class="col-sm-8">
						<div class="pager pager-top text-center">
							<div class="row text-center" ng-cloak="" >
								<div class="col-sm-3 col-md-2">
									<a 
										href="#"
										ng-if="!productSearchCtrl.productPage.first"
										ng-click="productSearchCtrl.changePage(productSearchCtrl.productPage.number-1, true)" 
									><button 
										class="btn btn-default"
										ng-attr-disabled="productSearchCtrl.loading &amp;&amp; 'disabled' || undefined"
									>Précédente</button></a>
								</div>
								
								<div ng-if="!productSearchCtrl.loading" class="col-sm-6 col-md-8">
									<div>Page {{productSearchCtrl.productPage.number+1}} sur {{productSearchCtrl.productPage.totalPages}}</div>
									<div>{{productSearchCtrl.productPage.totalElements}} produits</div>
								</div>
								
								<div class="loading col-sm-6 col-md-8" ng-if="productSearchCtrl.loading">
									<div><img th:src="@{/img/icons/loading.gif}" /></div>
									<div>... chargement ...</div>
								</div>
								
								<div class="col-sm-3 col-md-2">
									<a 
										href="#"
										ng-if="!productSearchCtrl.productPage.last" 
										ng-click="productSearchCtrl.changePage(productSearchCtrl.productPage.number+1, true)" 
									><button 
										class="btn btn-default"
										ng-attr-disabled="productSearchCtrl.loading &amp;&amp; 'disabled' || undefined"
									>Suivante</button></a>
								</div>
							</div>
						</div>
						
						<div ng-repeat="product in productSearchCtrl.productPage.content" ng-click="productSearchCtrl.openProductPage(product)" class="product row">
							<div class="col-sm-3 text-center">
								<img ng-if="product.images.length != 0" ng:src="/product/{{product.id}}/image/THUMB.jpg" />
								<img ng-if="product.images.length == 0" th:src="@{/img/logos/dimension-fantastique-noir.png}" />
							</div>
							<div class="col-sm-6">
								<div><h4><a th:href="@{/product/{{product.id}}}">{{product.title}}</a></h4></div>
								<div><h5>De {{product.author}}</h5></div>
								<div>
									Parue le {{product.datePublished | date : "shortDate"}}
									chez {{product.manufacturer}}
								</div>
								<div>{{product.category.name}}</div>
							</div>
							<div class="col-sm-3">
								<h4>
									{{product.price | number : 2}} &euro;
								</h4>
								<div>
									<span ng-if="product.available" class="label label-success">Disponible</span>
									<span ng-if="!product.available" class="label label-warning">Indisponible</span>
								</div>
							</div>
						</div>
						
						<div class="pager pager-bottom text-center">
							<div class="row text-center" ng-cloak="" >
								<div class="col-sm-2">
									<a 
										href="#"
										ng-if="!productSearchCtrl.productPage.first"
										ng-click="productSearchCtrl.changePage(productSearchCtrl.productPage.number-1, false)" 
									><button 
										class="btn btn-default"
										ng-attr-disabled="productSearchCtrl.loading &amp;&amp; 'disabled' || undefined"
									>Précédente</button></a>
								</div>
								
								<div ng-if="!productSearchCtrl.loading" class="col-sm-8">
									<div>Page {{productSearchCtrl.productPage.number+1}} sur {{productSearchCtrl.productPage.totalPages}}</div>
									<div>{{productSearchCtrl.productPage.totalElements}} produits</div>
								</div>
								
								<div class="loading col-sm-8" ng-if="productSearchCtrl.loading">
									<div><img th:src="@{/img/icons/loading.gif}" /></div>
									<div>... chargement ...</div>
								</div>
								
								<div class="col-sm-2">
									<a 
										href="#"
										ng-if="!productSearchCtrl.productPage.last" 
										ng-click="productSearchCtrl.changePage(productSearchCtrl.productPage.number+1, false)" 
									><button 
										class="btn btn-default"
										ng-attr-disabled="productSearchCtrl.loading &amp;&amp; 'disabled' || undefined"
									>Suivante</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<script th:replace="util/footer :: footer"></script>
		</div>
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/product/product-search-controller.js}"></script>
	</body>
</html>