<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>La Dimension Fantastique - Réapprovisionnements</title>
		
		<link th:replace="util/import :: head">
		<link rel="stylesheet" type="text/css" th:href="@{/css/purchase/restock/restocks.css}" />
	</head>
	
	<body ng-app="Kubik">
		<div th:include="util/menu :: menu"></div>
		
		<div ng-controller="RestocksCtrl as restocksCtrl" ng-cloak class="container text-center">
			<h1>Réapprovisionnements</h1>

			<ul class="pager row text-center">
				<li class="col-md-2">
					&nbsp;
					<a href="#" ng-if="!restocksCtrl.restocksPage.first" ng-click="restocksCtrl.changePage(restocksCtrl.restocksPage.number-1)">Précédente</a>
				</li>
				
				<li class="col-md-8">Page {{restocksCtrl.restocksPage.number+1}} sur {{restocksCtrl.restocksPage.totalPages}}</li>
				
				<li class="col-md-2">
					&nbsp;
					<a href="#" ng-if="!restocksCtrl.restocksPage.last" ng-click="restocksCtrl.changePage(restocksCtrl.restocksPage.number+1)">Suivante</a>
				</li>
			</ul>
			
			<div class="restocks table-responsive">
				<table class="panel panel-default table table-hover table-condensed text-center">
					<thead>
						<tr>
							<th>
								<span>EAN 13</span>
							</th>
							<th>
								<a data-sortBy="title">Titre</a>
								<span class="ascending hide glyphicon glyphicon-chevron-up"></span>
								<span class="descending hide glyphicon glyphicon-chevron-down"></span>
							</th>
							<th>
								<a data-sortBy="author">Auteur</a>
								<span class="ascending hide glyphicon glyphicon-chevron-up"></span>
								<span class="descending hide glyphicon glyphicon-chevron-down"></span>
							</th>
							<th>
								<a data-sortBy="openDate">Date</a>
								<span class="ascending hide glyphicon glyphicon-chevron-up"></span>
								<span class="descending hide glyphicon glyphicon-chevron-down"></span>
							</th>
							<th>
								<a data-sortBy="quantity">Quantité</a>
								<span class="ascending hide glyphicon glyphicon-chevron-up"></span>
								<span class="descending hide glyphicon glyphicon-chevron-down"></span>
							</th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="restock in restocksCtrl.restocksPage.content" ng-click="restocksCtrl.openRestock(restock)">
							<td>{{restock.product.ean13}}</td>
							<td>
								<a href="#" ng-click="restocksCtrl.openProductCard($event, restock.product)">
									{{restock.product.standardLabel}}
								</a>
							</td>
							<td>{{restock.product.author}}</td>
							<td>
								<a href="#" ng-click="restocksCtrl.openSupplierCard($event, restock.product.supplier)">
									{{restock.product.supplier.name}}
								</a>
							</td>
							<td>{{restock.openDate | date}}</td>
							<td>{{restock.quantity}}</td>
						<tr>
						
						<tr ng-if="restocksCtrl.restocksPage.content.length == 0">
							<td colspan="7">
								Aucun réapprovisionnement
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="restock-modal modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<h3 class="modal-header">
							Réapprovisionnement {{restocksCtrl.product.ean13}}
						</h3>
						
						<div class="modal-body form-horizontal text-left">
							<div class="form-group">
								<label class="col-sm-3 control-label">Produit</label>
								<div class="col-sm-9">
									<p class="form-control-static">{{restocksCtrl.restock.product.extendedLabel}}</p>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Ean13</label>
								<div class="col-sm-9">
									<p class="form-control-static">{{restocksCtrl.restock.product.ean13}}</p>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Quantité</label>
								<div class="col-sm-9">
									<input class="form-control" type="number" min="1" max="99999" placeholder="Quantité" ng-model="restocksCtrl.restock.quantity" />
								</div>
							</div>
							
							<div>
								<label>Statistiques</label>
								<table class="table table-condensed">
									<thead>
										<tr>
											<th>Inventaire</th>
											<th>Commandés</th>
											<th>Réceptionnés</th>
											<th>Vendus</th>
											<th>Retournés</th>
											<th>Remboursés</th>
										</tr>
									</thead>
									
									<tbody>
										<tr>
											<td>{{restocksCtrl.restock.product.productInventory.quantityOnHand}}</td>
											<td>{{restocksCtrl.productStats.quantityOrdered}}</td>
											<td>{{restocksCtrl.productStats.quantityReceived}}</td>
											<td>{{restocksCtrl.productStats.quantitySold}}</td>
											<td>{{restocksCtrl.productStats.quantityReturned}}</td>
											<td>{{restocksCtrl.productStats.quantityRefunded}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							<button type="button" class="btn btn-danger" ng-click="restocksCtrl.validateRestock('SKIPPED', true)">Ignorer</button>
							<button type="button" class="btn btn-primary" ng-click="restocksCtrl.validateRestock('VALIDATED', true)">Ajouter</button>
						</div>
					</div>
				</div>
			</div>
		
			<div th:replace="product/product-card :: product-card"></div>
		
			<div th:replace="product/supplier-card :: supplier-card"></div>
		</div>
		
		<script th:replace="util/import :: scripts"></script>
		<script type="text/javascript" th:src="@{/js/purchase/restocks.js}"></script>
	</body>
</html>