<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:fragment="references-modal" ng-controller="ReferenceSearchCtrl as referenceSearchCtrl">
			<div class="references-modal autoModal modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Recherche de référence Dilicom</h4>
						</div>
						
						<div class="modal-body">
							<div th:include="dilicom/references-list :: references-list"></div>
						</div>
						
						<div class="modal-footer">
							<button 
								ng-click="close()"
								type="button" 
								class="btn btn-default" 
								data-dismiss="modal"
							>Fermer</button>
						</div>
					</div>
				</div>
			</div>
			
			<div th:replace="dilicom/reference-card :: reference-card"></div>
		</div>
	</body>

</html>